<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/PILayout">
<meta charset="utf-8">
<title>공지사항</title>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
<style>
	.btn {
	float: right;
	}
</style>
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>
<div layout:fragment="content">
		<div class="row">
			<div class="col-sm-1"></div>
			<div class="col-sm-10">
				<h1>공지사항</h1>
				<!-- <div>
					<button th:if="${session.memberRank=='교육원직원'||session.memberRank=='협회직원'}" type="button" id="btn-write" class="btn btn-outline-info" th:onclick="|location.href='@{/PINoticeWrite(institutionCode=${institutionCode})}'|">글쓰기</button><br>
				</div> -->
				<div th:if="${session.memberRank=='교육원직원'}">
					<a th:href="@{'/PINoticeWrite?institutionCode='+${institutionCode}}" id="btn-write" class="btn btn-outline-info">글쓰기</a>
				</div>
				<table class="table table-hover">
					<thead>
						<tr>
							<th scope="col">제목</th>
							<th scope="col">작성자</th>
							<th scope="col">작성일</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="notice:${noticeList}">
							<th scope="row"><a th:href="@{'/PIBoardDetail?institutionCode='+${institutionCode}+'&boardNo='+${notice.boardNo}}" th:text="${notice.boardTitle}"></a></th>
							<td th:text="${notice.memberName}"></td>
							<td th:text="${notice.boardDate}"></td>
					</tbody>
				</table>
			</div>
			<div class="col-sm-1"></div>
		</div>
</div>
</html>