<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/config :: configFragment"></head>
<div class="row">
    <div class="col-sm-2">
    	<header th:replace="fragments/associationSider :: siderFragment"></header>
    </div>
    <div class="col-sm-9">
		<header th:replace="fragments/associationTop :: topFragment"></header>
	
	<div layout:fragment="content"></div>
	<footer th:replace="fragments/footer :: footerFragment"></footer>
	</div>
	<div class="col-sm-1">
    </div>
</div>
</html>