<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/config :: configFragment"></head>
<div class="row">
    <div class="col-sm-2">
    </div>
    <div class="col-sm-8">
	<header th:replace="fragments/PAHeader :: headerFragment"></header>
	
	<div layout:fragment="content"></div>
	
	<footer th:replace="fragments/footer :: footerFragment"></footer>
	</div>
	<div class="col-sm-2">
    </div>
</div>
</html>