<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/config :: configFragment"></head>
<div class="row">
    <div class="col-sm-1">
    </div>
    <div class="col-sm-10">
	<header th:replace="fragments/header :: headerFragment"></header>
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<p style="height: 50px"></p>
			
			<div layout:fragment="content"></div>
			
			<p style="height: 50px"></p>
		</div>
		<div class="col-sm-1"></div>
		
	</div>
	<footer th:replace="fragments/footer :: footerFragment"></footer>
	</div>
	<div class="col-sm-1">
    </div>
</div>
</html>