<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head th:replace="fragments/config :: configFragment"></head>
<header th:replace="fragments/teacherSider :: siderFragment"></header>
<div class="main">
	<header th:replace="fragments/teacherTop :: topFragment"></header> 
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-10">
			<div layout:fragment="content"></div>
		</div>
		<div class="col-sm-1"></div>
	</div>
	<footer th:replace="fragments/footer :: footerFragment"></footer>
</div>
</html>