<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<meta charset="utf-8">
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>
<div layout:fragment="content">
	<form action="/login" method="post">
		id : 
		<input type="text" name="memberOnlineId">
		pw : 
		<input type="password" name="memberOnlinePw">
		권한 :
		<select name="memberRank">
			<option value="수강생">수강생</option>
			<option value="강사">강사</option>
			<option value="교육원">교육원</option>
			<option value="협회">협회</option>
		</select>
		<input type="submit" value="로그인">
	</form>
</div>
</html>