<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<meta charset="utf-8">
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
	<h1>강의 개요 list</h1>
	<table border="1">
		<tr>
			<th>강의분류</th>
			<th>강의표준명</th>
			<th>필요조건</th>
		</tr>
		<tr th:each="subject:${list}">
			<td></td>
		</tr>
	
	</table>
</div>
</html>