<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/default">
<meta charset="utf-8">
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
	<div class="row">
		<div class="col-sm-3">
			<h4>수강생 로그인</h4>
			<form action="/login" method="post">
				id : 
				<input type="text" value="id011" name="memberOnlineId">
				<br>
				pw : 
				<input type="password" value="pw011" name="memberOnlinePw">
				<br>
				<input type="submit" value="로그인">
			</form>
		</div>
		<div class="col-sm-3">
			<h4>강사 로그인</h4>
			<form action="/login" method="post">
				id : 
				<input type="text" value="id010" name="memberOnlineId">
				<br>
				pw : 
				<input type="password" value="pw010" name="memberOnlinePw">
				<br>
				<input type="submit" value="로그인">
			</form>
		</div>
		<div class="col-sm-3">
			<h4>교육원 로그인</h4>
			<form action="/login" method="post">
				id : 
				<input type="text" value="id004" name="memberOnlineId">
				<br>
				pw : 
				<input type="password" value="pw004" name="memberOnlinePw">
				<br>
				<input type="submit" value="로그인">
			</form>
		</div>
		<div class="col-sm-3">
			<h4>협회 로그인</h4>
			<form action="/login" method="post">
				id : 
				<input type="text" value="id001" name="memberOnlineId">
				<br>
				pw : 
				<input type="password" value="pw001" name="memberOnlinePw">
				<br>
				<input type="submit" value="로그인">
			</form>
		</div>
	</div>
</div>
</html>