<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/LELayout">
<meta charset="utf-8">
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
		div {
		    text-align: center;
		}
	</style>
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
	<div>
		<p style="height: 50px"></p>
		<h4>수강생 로그인</h4>
		<form action="/LELogin" method="post">
			<pre>id	<input type="text" value="id011" name="memberOnlineId"><br>pw	<input type="password" value="pw011" name="memberOnlinePw"><br></pre>
			<input type="submit" value="로그인">
		</form>
		<p style="height: 300px"></p>
	</div>
</div>
</html>