<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.ksmart.lms.institution.mapper.InstitutionLectureMapper"> 
	<!-- InstitutionNoticeLectureMapper NoticeLecture resultMap  -->
	<resultMap id="NoticeLectureResultMap"
				type="kr.or.ksmart.lms.institution.vo.NoticeLecture">
		<result column="notice_lecture_code" property="noticeLectureCode"/>
		<result column="info_lecture_code" property="infoLectureCode"/>
		<result column="member_teacher_code" property="memberTeacherCode"/>
		<result column="member_teacher_name" property="memberTeacherName"/>
		<result column="classroom_code" property="classroomCode"/>
		<result column="notice_lecture_title" property="noticeLectureTitle"/>
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
		<result column="classroom_maximum_no" property="classroomMaximumNo"/>
		<result column="notice_lecture_minimum_no" property="noticeLectureMinimumNo"/>
		<result column="notice_lecture_current_applicant_no" property="noticeLectureCurrentApplicantNo"/>
		<result column="notice_lecture_recruitment_start_date" property="noticeLectureRecruitmentStartDate"/>
		<result column="notice_lecture_recruitment_end_date" property="noticeLectureRecruitmentEndDate"/>
		<result column="notice_lecture_result_date" property="noticeLectureResultDate"/>
		<result column="notice_lecture_fee" property="noticeLectureFee"/>	
		<result column="notice_lecture_start_date" property="noticeLectureStartDate"/>
		<result column="notice_lecture_end_date" property="noticeLectureEndDate"/>
		<result column="notice_lecture_status" property="noticeLectureStatus"/>
		<result column="notice_lecture_date" property="noticeLectureDate"/>		
	</resultMap>
	<!-- InstitutionLectureMapper InfoLecture resultMap  -->
	<resultMap id="InfoLectureResultMap"
				type="kr.or.ksmart.lms.institution.vo.InfoLecture">
		<result column="info_lecture_code" property="infoLectureCode"/>
		<result column="info_lecture_sort" property="infoLectureSort"/>
		<result column="info_lecture_name" property="infoLectureName"/>
		<result column="info_lecture_date" property="infoLectureDate"/>
	</resultMap>
	<!-- InstitutionLectureMapper InfoSubject resultMap  -->
	<resultMap id="InfoSubjectMap"
				type="kr.or.ksmart.lms.institution.vo.InfoSubject">
		<result column="info_subject_code" property="infoSubjectCode"/>
		<result column="info_lecture_code" property="infoLectureCode"/>
		<result column="info_subject_name" property="infoSubjectName"/>
		<result column="info_subject_difficulty" property="infoSubjectDifficulty"/>
		<result column="info_subject_modification_history" property="infoSubjectModificationHistory"/>
	</resultMap>
	<!--  InstitutionLectureMapper Lecture resultMap -->
	<resultMap id="LectureResultMap"
				type="kr.or.ksmart.lms.institution.vo.Lecture">
		<result column="lecture_code" property="lectureCode"/>
		<result column="notice_lecture_code" property="noticeLectureCode"/>
		<result column="notice_lecture_title" property="noticeLectureTitle"/>
		<result column="info_lecture_code" property="infoLectureCode"/>
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
		<result column="member_teacher_code" property="memberTeacherCode"/>
		<result column="member_teacher_name" property="memberTeacherName"/>
		<result column="notice_lecture_start_date" property="lectureStartDate"/>
		<result column="notice_lecture_end_date" property="lectureEndDate"/>
		<result column="lecture_class_days" property="lectureClassDays"/>
		<result column="lecture_date" property="lectureDate"/>
	</resultMap>
	
	<!-- Lecture 강의분류 리스트 출력 -->
	<select id="institutionSelectInfoLectureSortList" 
			resultMap="InfoLectureResultMap">
		SELECT distinct
			info_lecture_sort
		FROM 
			info_lecture
	</select>	
	
	<!-- Lecture 강의표준명 리스트 출력 / 비동기방식 -->
	<select id="institutionSelectInfoLectureNameList" 
			parameterType="String"
			resultMap="InfoLectureResultMap">
		SELECT
			info_lecture_code
			,info_lecture_name
		FROM 
			info_lecture
		WHERE 
			info_lecture_sort = #{lectureSort}
	</select>	 
		
	<!-- LectureCode을 입력받아 infoSubject 과목리스트 출력 / 비동기방식 -->
	<select id="institutionSelectSubjectListByLectureCode"
			parameterType="String"
			resultMap="InfoSubjectMap">
		SELECT
			info_subject_code
			, info_lecture_code
			, info_subject_name
			, info_subject_difficulty
		FROM 
			info_subject
		WHERE 
			info_lecture_code = #{lectureCode}
	</select>
	
	<!-- detailinfoSubject 출력 메서드 -->
	<select id="institutionSelectDetailSubjectByInfoSubjectCode"
			parameterType="String"
			resultMap="InfoSubjectMap">
		SELECT 
			info_subject_code
			,info_subject_name
			,info_subject_difficulty
			,info_subject_modification_history
		FROM 
			info_subject
		WHERE 
			info_subject_code = #{infoSubjectCode}
	</select>	
	
	<!-- institutionCode를 입력받아 해당 lecture테이블에 입력 -->
	<insert id="institutionInsertLectureByInstitutionCode"
			parameterType="kr.or.ksmart.lms.institution.vo.Lecture">
		INSERT INTO lecture (
			lecture_code
			,notice_lecture_code
			,notice_lecture_title
			,info_lecture_code
			,institution_code
			,institution_name
			,member_teacher_code
			,member_teacher_name
			,notice_lecture_start_date
			,notice_lecture_end_date
			,lecture_class_days
			,lecture_date
		) VALUES (
			#{lectureCode}
			,#{noticeLectureCode}
			,(SELECT
					notice_lecture_title
				FROM
					notice_lecture
				WHERE 
					notice_lecture_code = #{noticeLectureCode}
				)
			,#{infoLectureCode}
			,#{institutionCode}
			,(SELECT
					institution_name
				FROM
					institution
				WHERE 
					institution_code = #{institutionCode}
				)
			,#{memberTeacherCode}
			,(SELECT
					member_teacher_name
				FROM 
					member_teacher
				WHERE 
					member_teacher_code = #{memberTeacherCode}
			,#{lectureStartDate}
			,#{lectureEndDate}
			,#{lectureClassDays}
			,now()
		)		
	</insert>

	<!-- institutionCode를 입력받아 해당 lecture리스트 출력 -->
	<select id="institutionSelectLectureListByInstitutionCode"
			parameterType="String"
			resultMap="LectureResultMap">
		SELECT 
			lecture_code
			,notice_lecture_code
			,notice_lecture_title
			,info_lecture_code
			,institution_code
			,institution_name
			,member_teacher_code
			,member_teacher_name
			,notice_lecture_start_date
			,notice_lecture_end_date
			,lecture_class_days
			,left(lecture_date, 10) AS lecture_date
		FROM 
			lecture
		WHERE
			institution_code = #{institutionCode}
	</select>
	
	<!-- lectureCode 입력받아 detailLecture 조회하는 메서드 -->
	<select id="institutionSelectDetailLectureByLectureCode"
			parameterType="String"
			resultMap="LectureResultMap">
		SELECT 
			lecture_code
			,notice_lecture_code
			,notice_lecture_title
			,info_lecture_code
			,institution_code
			,institution_name
			,member_teacher_code
			,member_teacher_name
			,notice_lecture_start_date
			,notice_lecture_end_date
			,lecture_class_days
			,left(lecture_date, 10) AS lecture_date
		FROM 
			lecture
		WHERE
			lecture_code = #{lectureCode}
	</select>
	
	<select id="institutionSelectNoticeLectureListByInstitutionCode"
			parameterType="String"
			resultMap="NoticeLectureResultMap">
		SELECT 
			notice_lecture_code
			,info_lecture_code
			,member_teacher_code
			,member_teacher_name
			,classroom_code
			,notice_lecture_title
			,institution_code
			,institution_name
			,classroom_maximum_no
			,notice_lecture_minimum_no
			,notice_lecture_current_applicant_no
			,left(notice_lecture_recruitment_start_date, 10) AS notice_lecture_recruitment_start_date
			,left(notice_lecture_recruitment_end_date, 10) AS notice_lecture_recruitment_end_date
			,left(notice_lecture_result_date, 10) AS notice_lecture_result_date
			,notice_lecture_fee
			,left(notice_lecture_start_date, 10) AS notice_lecture_start_date
			,left(notice_lecture_end_date, 10) AS notice_lecture_end_date
			,notice_lecture_status
		FROM 
			notice_lecture
		WHERE
			institution_code = #{institutionCode}
		AND
			notice_lecture_status = '모집중'
		ORDER BY 
			notice_lecture_recruitment_start_date
		DESC
	</select>
</mapper>