<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.ksmart.lms.institution.mapper.InstitutionNoticeLectureMapper"> 

	<!-- InstitutionNoticeLectureMapper NoticeLecture resultMap  -->
	<resultMap id="NoticeLectureResultMap"
				type="kr.or.ksmart.lms.institution.vo.NoticeLecture">
		<result column="notice_lecture_code" property="noticeLectureCode"/>
		<result column="info_lecture_code" property="infoLectureCode"/>
		<result column="member_teacher_code" property="memberTeacherCode"/>
		<result column="member_teacher_name" property="memberTeacherName"/>
		<result column="classroom_code" property="classroomCode"/>
		<result column="notice_lecture_title" property="noticeLectureTitle"/>
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
		<result column="classroom_maximum_no" property="classroomMaximumNo"/>
		<result column="notice_lecture_minimum_no" property="noticeLectureMinimumNo"/>
		<result column="notice_lecture_current_applicant_no" property="noticeLectureCurrentApplicantNo"/>
		<result column="notice_lecture_recruitment_start_date" property="noticeLectureRecruitmentStartDate"/>
		<result column="notice_lecture_recruitment_end_date" property="noticeLectureRecruitmentEndDate"/>
		<result column="notice_lecture_result_date" property="noticeLectureResultDate"/>
		<result column="notice_lecture_fee" property="noticeLectureFee"/>	
		<result column="notice_lecture_start_date" property="noticeLectureStartDate"/>
		<result column="notice_lecture_end_date" property="noticeLectureEndDate"/>
		<result column="notice_lecture_date" property="noticeLectureDate"/>		
	</resultMap>
	<!-- InstitutionNoticeLectureMapper InfoLecture resultMap  -->
	<resultMap id="InfoLectureResultMap"
				type="kr.or.ksmart.lms.institution.vo.InfoLecture">
		<result column="info_lecture_code" property="infoLectureCode"/>
		<result column="info_lecture_sort" property="infoLectureSort"/>
		<result column="info_lecture_name" property="infoLectureName"/>
		<result column="info_lecture_date" property="infoLectureDate"/>
	</resultMap>
	<!-- InstitutionNoticeLectureMapper MemberTeacher resultMap  -->
	<resultMap id="MemberTeacherResultMap"
				type="kr.or.ksmart.lms.institution.vo.MemberTeacher">
		<result column="member_teacher_code" property="memberTeacherCode"/>
		<result column="teacher_approval_code" property="teacherApprovalCode"/>
		<result column="member_code" property="memberCode"/>
		<result column="member_teacher_name" property="memberTeacherName"/>
		<result column="member_teacher_career" property="memberTeacherCareer"/>
		<result column="member_teacher_service_Check" property="memberTeacherServiceCheck"/>
	</resultMap>
	<!-- InstitutionNoticeLectureMapper Institution resultMap  -->
	<resultMap id="InstitutionResultMap"
				type="kr.or.ksmart.lms.institution.vo.Institution">
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
		<result column="institution_phone" property="institutionPhone"/>
		<result column="institution_postcode" property="institutionPostcode"/>
		<result column="institution_address" property="institutionAddress"/>
		<result column="institution_address_desc" property="institutionAddressDesc"/>
		<result column="institution_location" property="institutionLocation"/>
		<result column="institution_registration_date" property="institutionRegistrationDate"/>
	</resultMap>
	<!-- institutionNoticeLectureMapper Classroom resultMap  -->
	<resultMap id="ClassroomResultMap"
				type="kr.or.ksmart.lms.institution.vo.Classroom">
		<result column="classroom_code" property="classroomCode"/>
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
		<result column="classroom_location" property="classroomLocation"/>
		<result column="classroom_name" property="classroomName"/>
		<result column="classroom_use" property="classroomUse"/>
		<result column="classroom_maximum_no" property="classroomMaximumNo"/>
		<result column="classroom_date" property="classroomDate"/>
	</resultMap>
	
	
	<!-- noticeLecture 입력 -->
		<!-- 1. 입력화면을 위한 준비 -->
		<!-- 1-1. infoLecture-sort select리스트 출력 -->
		<select id="institutionSelectInfoLectureSortForNL"
				resultMap="InfoLectureResultMap">
			SELECT DISTINCT 
				info_lecture_sort 
			FROM 
				info_lecture
		</select>
		<!-- 1-2. infoLecture-name select리스트 출력(비동기) -->
		<select id="institutionSelectInfoLectureNameForNL"
			parameterType="String"
			resultMap="InfoLectureResultMap">
			SELECT 
				info_lecture_code
				,info_lecture_name
			FROM 
				info_lecture
			WHERE
				info_lecture_sort = #{infoLectureSort}
		</select>
		<!-- 1-3. memberTeacher select리스트 출력 -->
		<select id="institutionSelectMemberTeacherForNL"
				resultMap="MemberTeacherResultMap">
			SELECT 
				member_teacher_code
				,member_teacher_name
			FROM
				member_teacher
		</select>		
		<!-- 1-4. institution select리스트 출력  -->	
		<select id="institutionSelectInstitutionForNL"
				resultMap="InstitutionResultMap">
			SELECT 
				institution_code
				,institution_name
			FROM
				institution
		</select>
		<!-- 1-5. classroom select리스트 출력(비동기 - institutionCode로) -->	
		<select id="institutionSelectClassroomByInstitutionCode"
				parameterType="String"
				resultMap="ClassroomResultMap">
			SELECT 
				classroom_code
				,classroom_name
			FROM
				classroom
			WHERE
				institution_code = #{institutionCode}
		</select>
		
		<!-- 3. 강의공고 등록 -->
		<insert id="institutionInsertNoticeLecture"
				parameterType="kr.or.ksmart.lms.institution.vo.NoticeLecture">
			INSERT INTO notice_lecture (	
				notice_lecture_code
				,info_lecture_code
				,notice_lecture_title
				,member_teacher_code
				,member_teacher_name
				,institution_code
				,institution_name
				,classroom_code
				,classroom_maximum_no			
				,notice_lecture_minimum_no
				,notice_lecture_current_applicant_no
				,notice_lecture_recruitment_start_date
				,notice_lecture_recruitment_end_date
				,notice_lecture_result_date
				,notice_lecture_fee
				,notice_lecture_start_date
				,notice_lecture_end_date
				,notice_lecture_date
			) VALUES (
				#{noticeLectureCode}
				,#{infoLectureCode}
				,#{noticeLectureTitle}
				,#{memberTeacherCode}
				,(SELECT 
						member_teacher_name
					FROM 
						member_teacher
					WHERE
						member_teacher_code = #{memberTeacherCode}
					)
				,#{institutionCode}
				,(SELECT 
						institution_name
					FROM 
						institution
					WHERE
						institution_code = #{institutionCode}
					)
				,#{classroomCode}
				,(SELECT 
						classroom_maximum_no
					FROM 
						classroom
					WHERE
						classroom_code = #{classroomCode}
					)
				,#{noticeLectureMinimumNo}
				,#{noticeLectureCurrentApplicantNo}
				,#{noticeLectureRecruitmentStartDate}
				,#{noticeLectureRecruitmentEndDate}
				,#{noticeLectureResultDate}
				,#{noticeLectureFee}
				,#{noticeLectureStartDate}
				,#{noticeLectureEndDate}	
				,now()		
			)
		</insert>
		
	<!-- 강의공고 목록 출력 -->
	<select id="institutionSelectNoticeLectureList"
			resultMap="NoticeLectureResultMap">
		SELECT 
			notice_lecture_code
			,info_lecture_code
			,member_teacher_code
			,member_teacher_name
			,classroom_code
			,notice_lecture_title
			,institution_code
			,institution_name
			,classroom_maximum_no
			,notice_lecture_minimum_no
			,notice_lecture_current_applicant_no
			,left(notice_lecture_recruitment_start_date, 10) AS notice_lecture_recruitment_start_date
			,left(notice_lecture_recruitment_end_date, 10) AS notice_lecture_recruitment_end_date
			,left(notice_lecture_result_date, 10) AS notice_lecture_result_date
			,notice_lecture_fee
			,left(notice_lecture_start_date, 10) AS notice_lecture_start_date
			,left(notice_lecture_end_date, 10) AS notice_lecture_end_date
		FROM 
			notice_lecture
	</select>
	
	<!-- 세부 강의공고 조회 -->
	<select id="institutionSelectNoticeLectureByNoticeLectureCode"
			parameterType="String"
			resultMap="NoticeLectureResultMap">
		SELECT 
			notice_lecture_code
			,info_lecture_code
			,member_teacher_code
			,member_teacher_name
			,classroom_code
			,notice_lecture_title
			,institution_code
			,institution_name
			,classroom_maximum_no
			,notice_lecture_minimum_no
			,notice_lecture_current_applicant_no
			,left(notice_lecture_recruitment_start_date, 10) AS notice_lecture_recruitment_start_date
			,left(notice_lecture_recruitment_end_date, 10) AS notice_lecture_recruitment_end_date
			,left(notice_lecture_result_date, 10) AS notice_lecture_result_date
			,notice_lecture_fee
			,left(notice_lecture_start_date, 10) AS notice_lecture_start_date
			,left(notice_lecture_end_date, 10) AS notice_lecture_end_date
		FROM 
			notice_lecture
		WHERE 
			notice_lecture_code = #{noticeLectureCode}
	</select>
</mapper>