<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ksmart.lms.member.mapper.MemberMapper">
	<resultMap type="kr.or.ksmart.lms.institution.vo.Institution" id="InstitutionMap">
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
	</resultMap>
	<select id="selectInstitutionName"
			resultType="String">
		SELECT
			institution_name AS institutionCode
		FROM institution
		WHERE
			institution_code = #{institutionCode}
	</select>
	<select id="selectMemberCodePk" resultType="String">
	<!-- MemberCode(Primary Key) 생성을 위한 마지막으로 생성된 코드를 조회 -->
		SELECT
			member_code
		FROM
			member
		ORDER BY
			member_date DESC
		LIMIT
			0,1
	</select>
	<select id="selectMemberOnlineCodePk" resultType="String">
	<!-- MemberOnlineCode(Primary Key) 생성을 위한 마지막으로 생성된 코드를 조회 -->
		SELECT
			member_online_code
		FROM
			member_online
		ORDER BY
			member_online_date DESC
		LIMIT
			0,1
	</select>
	<insert id="insertMember" parameterType="kr.or.ksmart.lms.member.vo.Member">
	<!-- member 테이블에 insert -->
		INSERT INTO
			member (
			member_code
			, member_name
			, member_registration_number_front
			, member_registration_number_back
			, member_phone_number
			, member_postcode
			, member_address
			, member_address_desc
			, member_rank
			, member_date)
		VALUES (
			#{memberCode}
			, #{memberName}
			, #{memberRegistrationNumberFront}
			, #{memberRegistrationNumberBack}
			, #{memberPhoneNumber}
			, #{memberPostcode}
			, #{memberAddress}
			, #{memberAddressDesc}
			, #{memberRank}
			, now()
		)
	</insert>
	
	<insert id="insertMemberOnlineId" parameterType="kr.or.ksmart.lms.member.vo.MemberOnline">
		INSERT INTO
			member_online_insertid (
			member_online_id)
		VALUES (
			#{memberOnlineId})
	</insert>
	
	<insert id="insertMemberOnline" parameterType="kr.or.ksmart.lms.member.vo.MemberOnline">
	<!-- memberOnline 테이블에 insert -->
		INSERT INTO
			member_online (
			member_online_code
			, member_code
			, member_name
			, member_online_id
			, member_online_pw
			, member_rank
			, institution_code
			, institution_name
			, member_online_date)
		VALUES (
			#{memberOnlineCode}
			, #{memberCode}
			, #{memberName}
			, #{memberOnlineId}
			, #{memberOnlinePw}
			, #{memberRank}
			, #{institutionCode}
			, #{institutionName}
			, now())
	</insert>
	<resultMap type="kr.or.ksmart.lms.index.vo.IndexInstitution" id="IndexInstitutionMap">
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
	</resultMap>
	<select id="selectInstitution"
			parameterType="String"
			resultMap="IndexInstitutionMap">
		SELECT
			institution_code
			, institution_name
		FROM institution
		WHERE
			institution_code = #{institutionCode}
	</select>
</mapper>