<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.ksmart.lms.lecture.mapper.InfoLectureMapper"> 
	<!-- infoLectureMapper InfoLecture resultMap  -->
	<resultMap id="infoLectureResultMap"
				type="kr.or.ksmart.lms.lecture.vo.InfoLecture">
		<result column="info_lecture_code" property="infoLectureCode"/>
		<result column="info_lecture_sort" property="infoLectureSort"/>
		<result column="info_lecture_name" property="infoLectureName"/>
		<result column="info_lecture_insert_date" property="infoLectureInsertDate"/>
	</resultMap>
	<!-- infoLectureMapper InfoSubject resultMap  -->
	<resultMap id="InfoSubjectMap"
				type="kr.or.ksmart.lms.subject.vo.InfoSubject">
		<result column="info_subject_code" property="infoSubjectCode"/>
		<result column="info_lecture_code" property="infoLectureCode"/>
		<result column="info_subject_name" property="infoSubjectName"/>
		<result column="info_subject_difficulty" property="infoSubjectDifficulty"/>
		<result column="info_subject_modification_history" property="infoSubjectModificationHistory"/>
	</resultMap>
	
	<!-- infoLectureCode을 입력받아 infoSubject 과목리스트 출력 / 비동기방식 -->
	<select id="selectSubjectListByLectureCode"
			parameterType="String"
			resultMap="InfoSubjectMap">
		SELECT
			info_subject_code
			, info_lecture_code
			, info_subject_name
			, info_subject_difficulty
		FROM 
			info_subject
		WHERE 
			info_lecture_code = #{lectureCode}
	</select>

	<!-- infoLecture 강의표준명 리스트 출력 / 비동기방식 -->
	<select id="selectInfoLectureNameList" 
			parameterType="String"
			resultMap="infoLectureResultMap">
		SELECT
			info_lecture_code
			,info_lecture_name
		FROM 
			info_lecture
		WHERE 
			info_lecture_sort = #{lectureSort}
	</select>	 
		
	<!-- infoLecture 강의분류 리스트 출력 -->
	<select id="selectInfoLectureSortList" 
			resultMap="infoLectureResultMap">
		SELECT distinct
			info_lecture_sort
		FROM 
			info_lecture
	</select>	
</mapper>