<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.ksmart.lms.lecture.mapper.InfoLectureMapper"> 
	<!-- infoLectureMapper resultMap  -->
	<resultMap id="infoLectureResultMap"
				type="kr.or.ksmart.lms.lecture.vo.InfoLecture">
		<result column="info_lecture_code" property="infoLectureCode"/>
		<result column="info_lecture_sort" property="infoLectureSort"/>
		<result column="info_lecture_name" property="infoLectureName"/>
		<result column="info_lecture_insert_date" property="infoLectureInsertDate"/>
	</resultMap>

	<!-- infoLecture 강의표준명 리스트 출력 / 비동기방식 -->
	<select id="selectInfoLectureList" 
			resultMap="infoLectureResultMap">
		SELECT
			info_lecture_name
		FROM 
			info_lecture
		WHERE 
			info_lecture_sort = #{infoLectureSort}
	</select>	 
		
	<!-- infoLecture 강의분류 리스트 출력 -->
	<select id="selectInfoLectureSortList" 
			resultMap="infoLectureResultMap">
		SELECT
			distinct
			info_lecture_sort
		FROM info_lecture
	</select>	
</mapper>