<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout/PALayout">
<meta charset="utf-8">
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>
<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
<script> 

</script>
</th:block>
<div layout:fragment="content">
	<!-- 자격종목이름 선택-->
	<!-- 자격 종목 코드명 -->
	<select name="QualifiName">
		<option value="">--자격종목이름  선택--</option>
		<option th:each="InfoQualification:${list22}" th:text="${InfoQualification.infoQualificationName}" th:value="${InfoQualification.infoQualificationName}"></option>
		<!--자격종목이름 선택하면 service에서 가공해서 코드도 같이 집어넣기-->
	</select>
	<!-- 시험방법  -->
	
	
	
	<!-- 시험장소코드 -->


	<!-- 접수 일시 -->
 	   
    
	<!--  결제 방법    -->

</div>
</html>