<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/institutionLayout">
<meta charset="utf-8">
<!-- html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
	<h1>폐강 관리</h1>
	<br>
	<h3>폐강 예정 강의</h3>
	<h6>폐강을 원하시는 강의공고를 선택하여 주십시오</h6>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>강의공고명</th>
				<th>교육원</th>
				<th>강사명</th>
				<th>모집 시작일</th>
				<th>모집마감일</th>				
				<th>강의 시작일</th>
				<th>강의 마감일</th>
				<th>등록</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="list:${failWaitingList}">
				<td><a th:href="@{'/institution/lecture/detailNoticeLecture?noticeLectureCode='+${list.noticeLectureCode}}" th:text="${list.noticeLectureTitle}" th:value="${list.noticeLectureCode}"></a></td>
				<td th:text="${list.institutionName}" th:value="${list.institutionName}"></td>
				<td th:text="${list.memberTeacherName}" th:value="${list.memberTeacherName}"></td>	
				<td th:text="${list.noticeLectureRecruitmentStartDate}" th:value="${list.noticeLectureRecruitmentStartDate}"></td>
				<td th:text="${list.noticeLectureRecruitmentEndDate}" th:value="${list.noticeLectureRecruitmentEndDate}"></td>
				<td th:text="${list.noticeLectureStartDate}" th:value="${list.noticeLectureStartDate}"></td>
				<td th:text="${list.noticeLectureEndDate}" th:value="${list.noticeLectureEndDate}"></td>		
				<td><a th:href="@{'/institution/lecture/addFailLecture?noticeLectureCode='+${list.noticeLectureCode}}" type="submit" class="btn btn-primary">등록하기</a></td>		
			</tr>
		</tbody>
	</table>
	
	<h3>폐강된 강의공고</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>강의공고명</th>
				<th>교육원</th>
				<th>강사명</th>
				<th>폐강일자</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="list:${failLectureList}">
				<td><a th:href="@{'/institution/lecture/detailFailLecture?lectureFailCode='+${list.lectureFailCode}}" th:text="${list.noticeLectureTitle}" th:value="${list.lectureFailCode}"></a></td>
				<td th:text="${list.institutionName}" th:value="${list.institutionName}"></td>
				<td th:text="${list.memberTeacherName}" th:value="${list.memberTeacherName}"></td>
				<td th:text="${list.lectureFailDate}" th:value="${list.lectureFailDate}"></td>				
			</tr>
		</tbody>
	</table>
</div>
</html>