<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/institutionLayout">
<meta charset="utf-8">
<!-- html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
<script>$(document).ready(function(){
	// 강의공고 등록하기 버튼 클릭시 이벤트 처리
	$('#btnAdd').on('click',function(){
		console.log('#btnAdd click test');
		location.href='/institution/lecture/addNoticeLecture'
	});
	// 폐강 등록하기 버튼 클릭시 이벤트 처리
	$('#btnAddFailLecture').on('click',function(){
		console.log('#btnAddFailLecture click test');
		location.href='/institution/lecture/listFailLecture'
	});
	
});
</script>
</th:block>

<div layout:fragment="content">
	<h1>강의공고 목록</h1>
		
	<button type="button" id="btnAdd" class="btn btn-primary btn-rightLarge">강의공고 등록하기</button>
	
	<h3>전체 강의공고</h3>
	<table class="table table-striped">
		<thead>
			<tr>
				<th>강의공고명</th>
				<th>교육원</th>
				<th>강사</th>
				<th>최소인원</th>
				<th>강의료</th>
				<th>진행여부</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="list:${noticeLecturelist}">
				<td><a th:href="@{'/institution/lecture/detailNoticeLecture?noticeLectureCode='+${list.noticeLectureCode}}" th:text="${list.noticeLectureTitle}" th:value="${list.noticeLectureCode}"></a></td>
				<td th:text="${list.institutionName}" th:value="${list.institutionName}"></td>
				<td th:text="${list.memberTeacherName}" th:value="${list.memberTeacherName}"></td>
				<td th:text="${list.noticeLectureMinimumNo}" th:value="${list.noticeLectureMinimumNo}"></td>
				<td th:text="${list.noticeLectureFee}" th:value="${list.noticeLectureFee}"></td>
				<td th:text="${list.noticeLectureStatus}" th:value="${list.noticeLectureStatus}"></td>
			</tr>
		</tbody>
	</table>
	<br>
	<br>
	<h3>폐강된 강의공고</h3>
		
	<button type="button" id="btnAddFailLecture" class="btn btn-primary btn-rightLarge">폐강대상 조회하기</button><br><br>
	
	<table class="table table-striped">
		<thead>
			<tr>
				<th>강의공고명</th>
				<th>교육원</th>
				<th>강사명</th>
				<th>폐강일자</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="list:${failLectureList}">
				<td><a th:href="@{'/institution/lecture/detailFailLecture?lectureFailCode='+${list.lectureFailCode}}" th:text="${list.noticeLectureTitle}" th:value="${list.lectureFailCode}"></a></td>
				<td th:text="${list.institutionName}" th:value="${list.institutionName}"></td>
				<td th:text="${list.memberTeacherName}" th:value="${list.memberTeacherName}"></td>
				<td th:text="${list.lectureFailDate}" th:value="${list.lectureFailDate}"></td>				
			</tr>
		</tbody>
	</table>
</div>
</html>