<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ksmart.lms.teacher.mapper.TeacherMemberMapper">
	<!-- memberInsert 할때 institutionCode 받아와서 해당 교육원 이름을 찾는 select 쿼리 -->
	<select id="selectInstitutionName"
			resultType="String">
		SELECT
			institution_name AS institutionCode
		FROM institution
		WHERE
			institution_code = #{institutionCode}
	</select>
	
	<!-- memberInsert 할 때 institutionName을 찾기 위한 resultMap -->
	<resultMap type="kr.or.ksmart.lms.index.vo.IndexInstitution" id="InstitutionMap">
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
	</resultMap>
	<select id="selectInstList" resultMap="InstitutionMap">
		SELECT institution_code
			, institution_name
		FROM institution
		LIMIT 1,100
	</select>
	<insert id="insertMember" parameterType="kr.or.ksmart.lms.association.vo.Member">
	<!-- member 테이블에 insert -->
		INSERT INTO
			member (
			member_code
			, member_name
			, member_registration_number_front
			, member_registration_number_back
			, member_phone_number
			, member_postcode
			, member_address
			, member_address_desc
			, member_rank
			, member_date)
		VALUES (
			#{memberCode}
			, #{memberName}
			, #{memberRegistrationNumberFront}
			, #{memberRegistrationNumberBack}
			, #{memberPhoneNumber}
			, #{memberPostcode}
			, #{memberAddress}
			, #{memberAddressDesc}
			, #{memberRank}
			, now()
		)
	</insert>
	
	<insert id="insertMemberOnlineId" parameterType="kr.or.ksmart.lms.pi.vo.MemberOnlineInsertid">
	<!--	아이디 중복검사를 위한 member_online_insertid에 online_id insert-->
		INSERT INTO
			member_online_insertid (
			member_online_id
			, member_online_id_insert_date)
		VALUES (
			#{memberOnlineId}
			, now())
	</insert>
	
	<insert id="insertTeacher" parameterType="kr.or.ksmart.lms.association.vo.MemberTeacher">
		INSERT INTO member_teacher (
			member_teacher_code
			, teacher_approval_code
			, member_code
			, member_teacher_name
			, member_teacher_career
			, member_teacher_service_check
			, member_teacher_date)
		VALUES (
			#{memberTeacherCode}
			, #{teacherApprovalCode}
			, #{memberCode}
			, #{memberTeacherName}
			, #{memberTeacherCareer}
			, #{memberTeacherServiceCheck}
			, now())
	</insert>
	
	<insert id="insertMemberOnline" parameterType="kr.or.ksmart.lms.association.vo.MemberOnline">
	<!-- memberOnline 테이블에 insert -->
		INSERT INTO
			member_online (
			member_online_code
			, member_code
			, member_name
			, member_online_id
			, member_online_pw
			, member_rank
			, institution_code
			, institution_name
			, member_online_date)
		VALUES (
			#{memberOnlineCode}
			, #{memberCode}
			, #{memberName}
			, #{memberOnlineId}
			, #{memberOnlinePw}
			, #{memberRank}
			, #{institutionCode}
			, #{institutionName}
			, now())
	</insert>
</mapper>