<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/associationLayout">
<meta charset="utf-8">
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
<script>
	$(document).ready(function() {
		//유효성 검사를 위한 변수 선언
		let noticeAnnualLicenseTestNameCheck = true;
		let noticeAnnualLicenseTestApplyStartDateCheck = true;
		let noticeAnnualLicenseTestApplyEndDateCheck = true;
		let noticeAnnualLicenseTestStartDateCheck = true;
		let noticeAnnualLicenseTestEndDateCheck = true;
		let noticeAnnualLicenseTestResultDateCheck = true;
		let noticeAnnualLicenseTestInsertDateCheck = true;

		//noticeAnnualLicenseTestName 입력 유효성 검사
		$('#noticeAnnualLicenseTestName').blur(function() {
			if($('#noticeAnnualLicenseTestName').val() == "") {
				console.log('noticeAnnualLicenseTestName 공백입력')
				noticeAnnualLicenseTestNameCheck = true;
			} else {
                console.log('noticeAnnualLicenseTestName 유효성 검사 완료')
				noticeAnnualLicenseTestNameCheck = false;
			}
		});

		//noticeAnnualLicenseTestApplyStartDate 입력 유효성 검사
		$('#noticeAnnualLicenseTestApplyStartDate').blur(function() {
			if($('#noticeAnnualLicenseTestApplyStartDate').val() == "") {
				console.log('noticeAnnualLicenseTestApplyStartDate 공백입력')
				noticeAnnualLicenseTestApplyStartDateCheck = true;
			} else {
                console.log('noticeAnnualLicenseTestApplyStartDate 유효성 검사 완료')
				noticeAnnualLicenseTestApplyStartDateCheck = false;
			}
		});
		//noticeAnnualLicenseTestApplyEndDate 입력 유효성 검사
		$('#noticeAnnualLicenseTestApplyEndDate').blur(function() {
			if($('#noticeAnnualLicenseTestApplyEndDate').val() == "") {
				console.log('noticeAnnualLicenseTestApplyEndDate 공백입력')
				noticeAnnualLicenseTestApplyEndDateCheck = true;
			} else {
                console.log('noticeAnnualLicenseTestApplyEndDate 유효성 검사 완료')
				noticeAnnualLicenseTestApplyEndDateCheck = false;
			}
		});
		//noticeAnnualLicenseTestStartDate 입력 유효성 검사
		$('#noticeAnnualLicenseTestStartDate').blur(function() {
			if($('#noticeAnnualLicenseTestStartDate').val() == "") {
				console.log('noticeAnnualLicenseTestStartDate 공백입력')
				noticeAnnualLicenseTestStartDateCheck = true;
			} else {
                console.log('noticeAnnualLicenseTestStartDate 유효성 검사 완료')
				noticeAnnualLicenseTestStartDateCheck = false;
			}
		});

		//noticeAnnualLicenseTestEndDate 입력 유효성 검사
		$('#noticeAnnualLicenseTestEndDate').blur(function() {
			if($('#noticeAnnualLicenseTestEndDate').val() == "") {
				console.log('noticeAnnualLicenseTestEndDate 공백입력')
				noticeAnnualLicenseTestEndDateCheck = true;
			} else {
                console.log('noticeAnnualLicenseTestEndDate 유효성 검사 완료')
				noticeAnnualLicenseTestEndDateCheck = false;
			}
		});

		//noticeAnnualLicenseTestResultDate 입력 유효성 검사
		$('#noticeAnnualLicenseTestResultDate').blur(function() {
			if($('#noticeAnnualLicenseTestResultDate').val() == "") {
				console.log('noticeAnnualLicenseTestResultDate 공백입력')
				noticeAnnualLicenseTestResultDateCheck = true;
			} else {
                console.log('noticeAnnualLicenseTestResultDate 유효성 검사 완료')
				noticeAnnualLicenseTestResultDateCheck = false;
			}	
		});
		//noticeAnnualLicenseTestInsertDate 입력 유효성 검사
		$('#noticeAnnualLicenseTestInsertDate').blur(function() {
			if($('#noticeAnnualLicenseTestInsertDate').val() == "") {
				console.log('noticeAnnualLicenseTestInsertDate 공백입력')
				noticeAnnualLicenseTestInsertDateCheck = true;
			} else {
                console.log('noticeAnnualLicenseTestInsertDate 유효성 검사 완료')
				noticeAnnualLicenseTestInsertDateCheck = false;
			}	
		});

		//btnAdd 클릭 이벤트 처리
		$('#btnAdd').on('click',function() {
			if(noticeAnnualLicenseTestNameCheck) {
				$('h4').addClass('red');
				$('h4').text('자격시험명이 공백 상태 입니다.');
			} else if(noticeAnnualLicenseTestApplyStartDateCheck) {
				$('h4').addClass('red');
				$('h4').text('접수시작일이 공백 상태 입니다.');
			} else if(noticeAnnualLicenseTestApplyEndDateCheck) {
				$('h4').addClass('red');
				$('h4').text('접수마감일이 공백 상태 입니다.');
			} else if(noticeAnnualLicenseTestStartDateCheck) {
				$('h4').addClass('red');
				$('h4').text('시험시작일이 공백 상태 입니다.');
			} else if(noticeAnnualLicenseTestEndDateCheck) {
				$('h4').addClass('red');
				$('h4').text('시험종료일이 공백 상태 입니다.');
			} else if(noticeAnnualLicenseTestResultDateCheck) {
				$('h4').addClass('red');
				$('h4').text('결과발표일이 공백 상태 입니다.');
			} else if(noticeAnnualLicenseTestInsertDateCheck) {
					$('h4').addClass('red');
					$('h4').text('등록날짜가 공백 상태 입니다.');
			} else {
				$('#addNoticeAnnualLicenseTest').submit()
			}
		});

	});
</script>
</th:block>

<div layout:fragment="content">
	<h3>연간자격시험 일정등록</h3>
	<form id="addNoticeAnnualLicenseTest" action="/association/notice/addNoticeAnnualLicenseTest" method="post">
		<div class="form-group">
			<label>자격시험명 :</label>
			<input type="text" class="form-control" id="noticeAnnualLicenseTestName" name="noticeAnnualLicenseTestName">
		</div>
		<div class="form-group">
			<label>접수시작일 :</label>
			<input type="date" class="form-control" id="noticeAnnualLicenseTestApplyStartDate" name="noticeAnnualLicenseTestApplyStartDate">
		</div>
		<div class="form-group">
			<label>접수마감일 :</label>
			<input type="date" class="form-control" id="noticeAnnualLicenseTestApplyEndDate" name="noticeAnnualLicenseTestApplyEndDate">
		</div>
		<div class="form-group">
			<label>시험시작일 :</label>
			<input type="date" class="form-control" id="noticeAnnualLicenseTestStartDate" name="noticeAnnualLicenseTestStartDate">
		</div>
		<div class="form-group">
			<label>시험종료일 :</label>
			<input type="date" class="form-control" id="noticeAnnualLicenseTestEndDate" name="noticeAnnualLicenseTestEndDate">
		</div>
		<div class="form-group">
			<label>결과발표일 :</label>
			<input type="date" class="form-control" id="noticeAnnualLicenseTestResultDate" name="noticeAnnualLicenseTestResultDate">
		</div>
		<button type="button" id="btnAdd" class="btn btn-primary">등록</button>		
	</form>
	
	<h4></h4>
</div>
</html>