<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/associationLayout">
<meta charset="utf-8">
<!-- html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
	<h3>자격 시험 공고 리스트</h3>
	<table class="table table-striped">
		<tr>
			<th>자격시험공고코드</th>
			<th>시험명</th>
			<th>지역</th>
			<th>주소</th>
			<th>접수시작일</th>
			<th>접수마감일</th>
			<th>시험일자</th>
			<th>결과발표일</th>
			
		</tr>
		<tr th:each="subject:${list}">
			<td th:text="${subject.noticeLicenseTestCode}"></td>
			<td th:text="${subject.noticeLicenseTestName}"></td>
			<td th:text="${subject.licenseTestLocationRegion}"></td>
			<td th:text="${subject.licenseTestLocationAddress}"></td>
			<td th:text="${subject.noticeAnnualLicenseTestApplyStartDate}"></td>
			<td th:text="${subject.noticeAnnualLicenseTestApplyEndDate}"></td>
			<td th:text="${subject.noticeLicenseTestDate}"></td>
			<td th:text="${subject.noticeAnnualLicenseTestResultDate}"></td>
			<td><a class="btn btn-primary" th:href="@{'/association/notice/addNoticeLicenseTest?infoQualificationCode='+${subject.infoQualificationCode}+'&'+'noticeAnnualLicenseTestCode='+${subject.noticeAnnualLicenseTestCode}+'&licenseTestLocationCode='+${subject.licenseTestLocationCode}}">수정</a></td>			
		</tr>
	</table>
</div>
</html>