<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/institutionLayout">
<meta charset="utf-8">
<!-- html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
<script>
	$(document).ready(function() {
 		
 		//btnAdd 클릭 이벤트 처리
		$('#btnPay').on('click',function() {
				$('#paymentAnnualFee').submit()
		});
	});
</script>
</th:block>

<div layout:fragment="content">
    <h3 th:text="${session.institutionName}+' 연회비 결제'"></h3>
	<form id="paymentAnnualFee" action="/paymentAnnualFee" method="post">
		<div class="form-group">
			<label>교육원 명 :</label>
			<input type="text" class="form-control" id="institutionName" name="institutionName" th:value="${session.institutionName}" readonly="readonly">
		</div>
		<div class="form-group">
			<label>연회비 결재금액 :</label>
			<input type="text" class="form-control" id="paymentAnnualFeePrice" name="paymentAnnualFeePrice" th:value="${infoAnnualFee.infoAnnualFeePrice}" readonly="readonly">
		</div>
		<div class="form-group">
			<label>사용권 시작일 :</label>
			<input type="text" class="form-control" id="paymentAnnualFeeServiceStartDate" name="paymentAnnualFeeServiceStartDate" th:value="${startDay}" readonly="readonly">
		</div>
		<div class="form-group">
			<label>사용권 종료일 :</label>
			<input type="text" class="form-control" id="paymentAnnualFeeServiceEndDate" name="paymentAnnualFeeServiceEndDate" th:value="${oneYearLaterDay}" readonly="readonly">
		</div>
		<div class="form-group">
				<label>결제 방법 :</label>
				<select class="form-control" id="paymentAnnualFeeMethod" name="paymentAnnualFeeMethod">
					<option>결제 방법 선택</option>
					<option value="카드">카드</option>
					<option value="계좌이체">계좌이체</option>
				</select>
			</div>	
		<input type="hidden" id="institutionCode" name="institutionCode" th:value="${session.institutionCode}">
		<input type="hidden" id="infoAnnualFeeCode" name="infoAnnualFeeCode" th:value="${infoAnnualFee.infoAnnualFeeCode}">
		<input type="hidden" id="paymentAnnualFeePrice" name="paymentAnnualFeePrice" th:value="${infoAnnualFee.infoAnnualFeeCode}">
		<button type="button" id="btnPay" class="btn btn-primary">결제하기</button>
		<h4></h4>
	</form>
</div>
</html>