<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/associationLayout">
<meta charset="utf-8">
<!-- html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
	<h3>연회비 리스트</h3>
	<a type="button" href="/association/infoAnnualFee/addInfoAnnualFee" class="btn btn-secondary">연회비 개요 추가</a>
	<table class="table">
		<thead>
			<tr>
				<th>연회비 상세내용</th>
				<th>연회비</th>			
				<th>개정일</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="annualFeeList:${infoAnnualFeelist}">
				<td th:text="${annualFeeList.infoAnnualFeeDescription}"></td>
				<td th:text="${annualFeeList.infoAnnualFeePrice}"></td>
				<td th:text="${annualFeeList.infoAnnualFeeEstablishmentDate}"></td>		
			</tr>
		</tbody>
	</table>
	<br>
	<br>
	<h3>교육원 사용여부 확인</h3>
	<a type="button" href="/availableInstitutionRefresh" class="btn btn-secondary">사용여부 새로고침</a>
	<a type="button" href="/association/infoAnnualFee/refundAnnualFeeList" class="btn btn-secondary">연회비 환불하기</a>
	<table class="table">
		<thead>
			<tr>
				<th>교육원 이름</th>
				<th>사용권 시작일</th>
				<th>사용권 종료일</th>			
				<th>남은일</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="availableList:${availableList}">
				<td th:text="${availableList.institutionName}"></td>
				<td th:text="${availableList.paymentAnnualFeeServiceStartDate}"></td>
				<td th:text="${availableList.paymentAnnualFeeServiceEndDate}"></td>	
				<td th:text="${availableList.availableInstitutionRemainingDate}"></td>
			</tr>
		</tbody>
	</table>
	<br>
	<br>
	<h3>연회비 환불 리스트</h3>
	<table class="table">
		<thead>
			<tr>
				<th>결제 코드</th>
				<th>교육원 이름</th>
				<th>환불일</th>
				<th>환불금액</th>
			</tr>
		</thead>
		<tbody>
			<tr th:each="refundAnnualList:${refundAnnualList}">
				<td th:text="${refundAnnualList.paymentAnnualFeeCode}"></td>
				<td th:text="${refundAnnualList.institutionName}"></td>
				<td th:text="${refundAnnualList.refundAnnualFeeDate}"></td>
				<td th:text="${refundAnnualList.refundAnnualFeePrice}"></td>	
			</tr>
		</tbody>
	</table>
</div>
</html>