<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/PILayout">
<meta charset="utf-8">
<title>회원가입 성공</title>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
	<style>
		div {
		    text-align: center;
		    fieldset-align: center;
		}
	</style>
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
	<div>
		<p style="height: 50px"></p>
		<h4>회원이 되신걸 환영합니다.</h4>
		<p style="height: 50px"></p>
		<form action="/PILogin" method="post">
			<fieldset>
				<div class="form-group">
    				<legend>로그인</legend>
    			</div>
				<div class="form-group row">
    	  			<div class="col-sm-4"></div>
					<label class="col-sm-2 col-form-label">ID</label>
      				<div class="col-sm-2">
        				<input type="text" class="form-control" name="memberOnlineId" value="id011">
        			</div>
    	    		<div class="col-sm-6"></div>
	      		</div>
      			<div class="form-group row">
      				<div class="col-sm-4"></div>
					<label class="col-sm-2 col-form-label">Password</label>
      				<div class="col-sm-2">
        				<input type="password" class="form-control" name="memberOnlinePw" value="pw011">
    	    		</div>
	        		<div class="col-sm-6"></div>
      			</div>
				<button type="submit" class="btn btn-info">로그인</button>
			</fieldset>
		</form>
		<p style="height: 300px"></p>
	</div>
</div>
</html>