<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.ksmart.lms.association.mapper.AssociationClassroomMapper"> 
	<!-- ClassroomMapper Classroom resultMap  -->
	<resultMap id="ClassroomResultMap"
				type="kr.or.ksmart.lms.association.vo.Classroom">
		<result column="classroom_code" property="classroomCode"/>
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
		<result column="classroom_location" property="classroomLocation"/>
		<result column="classroom_name" property="classroomName"/>
		<result column="classroom_use" property="classroomUse"/>
		<result column="classroom_maximum_no" property="classroomMaximumNo"/>
		<result column="classroom_date" property="classroomDate"/>
	</resultMap>
	<!-- ClassroomMapper Institution resultMap  -->
	<resultMap id="InstitutionResultMap"
				type="kr.or.ksmart.lms.association.vo.Institution">
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
		<result column="institution_phone" property="institutionPhone"/>
		<result column="institution_postcode" property="institutionPostcode"/>
		<result column="institution_address" property="institutionAddress"/>
		<result column="institution_address_desc" property="institutionAddressDesc"/>
		<result column="institution_location" property="institutionLocation"/>
		<result column="institution_registration_date" property="institutionRegistrationDate"/>
	</resultMap>
		
	<!-- 강의용도 리스트 출력 -->
	<select id="associationSelectClassroomUse"
				resultMap="ClassroomResultMap">
		SELECT DISTINCT
			classroom_use
		FROM 
			classroom	
	</select>
	
	<!-- 강의실 등록을 위해 교육원테이블에서 교육원명, 교육원위치를 가져오는 메서드 -->
	<select id="associationSelectInstitutionInfo"
			parameterType="String"
			resultMap="InstitutionResultMap">
		SELECT
			institution_code
			,institution_name
			,institution_location
		FROM 
			institution
		WHERE 
			institution_code=#{instCode}
	</select>
	
	<!-- 강의실 등록 -->			
	<insert id="associationInsertClassroom"
			parameterType="kr.or.ksmart.lms.association.vo.Classroom">
		INSERT INTO classroom (
			classroom_code
			,institution_code
			,institution_name
			,classroom_location
			,classroom_name
			,classroom_use
			,classroom_maximum_no
			,classroom_date
		) VALUES (
			#{classroomCode}
			,#{institutionCode}
			,#{institutionName}
			,#{classroomLocation}
			,#{classroomName}
			,#{classroomUse}
			,#{classroomMaximumNo}	
			,now()	
		) 		
	</insert>
	<!-- 교육원 리스트 출력 -->
	<select id="associationSelectInstitutionByInstitutionCode"
			parameterType="String"
			resultMap="InstitutionResultMap">
		SELECT 
			institution_code
			,institution_name
			,institution_location
		FROM 
			institution		
		WHERE 
			institution_code = #{instCode}
	</select>
	
	<select id="associationSelectClassroomList"
			resultMap="ClassroomResultMap">
		SELECT 
			classroom_code
			,institution_code
			,institution_name
			,classroom_location
			,classroom_name
			,classroom_use
			,classroom_maximum_no
		FROM 
			classroom
	</select>
	
	<!-- 강의실조회 교육원명으로 검색 -->
	<select id="associationSelectClassroomListByKeyword"
			parameterType="String"
			resultMap="ClassroomResultMap">
		SELECT 
			classroom_code
			,institution_code
			,institution_name
			,classroom_location
			,classroom_name
			,classroom_use
			,classroom_maximum_no
		FROM 
			classroom
		WHERE 
			classroom_location 
		LIKE 
			#{classroomLocation}
	</select>
	
	<!-- 강의실 수정처리 -->
	<!-- 강의실코드로 강의실 상세정보 불러오기 -->
	<select id="selectClassroomByClassroomCode"
			parameterType="String"
			resultMap="ClassroomResultMap">
		SELECT 
			classroom_code
			,institution_code
			,institution_name
			,classroom_location
			,classroom_name
			,classroom_use
			,classroom_maximum_no
		FROM 
			classroom
		WHERE 
			classroom_code = #{classroomCode}
	</select>
</mapper>