<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.ksmart.lms.association.mapper.AssociationInstitutionMapper"> 
	<resultMap type="kr.or.ksmart.lms.association.vo.Institution" id="InstitutionMap">
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
		<result column="institution_phone" property="institutionPhone"/>
		<result column="institution_postcode" property="institutionPostcode"/>
		<result column="institution_address" property="institutionAddress"/>
		<result column="institution_address_desc" property="institutionAddressDesc"/>
		<result column="institution_location" property="institutionLocation"/>
		<result column="institution_registration_date" property="institutionRegistrationDate"/>
	</resultMap>
	
	<!-- 교육원 등록 -->
	<select id="associationInsertInstitution"
			parameterType="kr.or.ksmart.lms.association.vo.Institution">
		INSERT INTO institution (
			institution_code
			,institution_name
			,institution_phone
			,institution_postcode
			,institution_address
			,institution_address_desc
			,institution_location
			,institution_registration_date
		) VALUES (
			#{institutionCode}
			,#{institutionName}
			,#{institutionPhone}
			,#{institutionPostcode}
			,#{institutionAddress}
			,#{institutionAddressDesc}
			,#{institutionLocation}
			,now()		
		)
	</select>
	
	<!-- 교육원 리스트 출력 -->
	<select id="associationSelectInstitutionList"
			resultMap="InstitutionMap">
		SELECT 
			institution_code
			,institution_name
			,institution_phone
			,institution_postcode
			,institution_address
			,institution_address_desc
			,institution_location
			,institution_registration_date
		FROM 
			institution
	</select>
	
	<!-- 교육원 상세정보 출력 -->
	<select id="associationSelectInstitutionByInstitutionCode"
			parameterType="String"
			resultMap="InstitutionMap">
		SELECT 
			institution_code
			,institution_name
			,institution_phone
			,institution_postcode
			,institution_address
			,institution_address_desc
			,institution_location
			,institution_registration_date
		FROM 
			institution
		WHERE institution_code = #{institutionCode} 
	</select>
</mapper>