<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.ksmart.lms.association.mapper.AssociationLectureMapper"> 
	<!-- LectureMapper InfoLecture resultMap  -->
	<resultMap id="infoLectureResultMap"
				type="kr.or.ksmart.lms.association.vo.InfoLecture">
		<result column="info_lecture_code" property="infoLectureCode"/>
		<result column="info_lecture_sort" property="infoLectureSort"/>
		<result column="info_lecture_name" property="infoLectureName"/>
		<result column="info_lecture_date" property="infoLectureDate"/>
	</resultMap>
	<!-- LectureMapper InfoSubject resultMap  -->
	<resultMap id="InfoSubjectMap"
				type="kr.or.ksmart.lms.association.vo.InfoSubject">
		<result column="info_subject_code" property="infoSubjectCode"/>
		<result column="info_lecture_code" property="infoLectureCode"/>
		<result column="info_subject_name" property="infoSubjectName"/>
		<result column="info_subject_difficulty" property="infoSubjectDifficulty"/>
		<result column="info_subject_modification_history" property="infoSubjectModificationHistory"/>
	</resultMap>
	<!-- LectureMapper Institution resultMap  -->
	<resultMap id="InstitutionResultMap"
				type="kr.or.ksmart.lms.association.vo.Institution">
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
		<result column="institution_phone" property="institutionPhone"/>
		<result column="institution_postcode" property="institutionPostcode"/>
		<result column="institution_address" property="institutionAddress"/>
		<result column="institution_address_desc" property="institutionAddressDesc"/>
		<result column="institution_location" property="institutionLocation"/>
		<result column="institution_registration_date" property="institutionRegistrationDate"/>
	</resultMap>
	
	<insert id="associationInsertInfoLecture"
			parameterType="kr.or.ksmart.lms.association.vo.InfoLecture">
		INSERT INTO info_lecture (
			info_lecture_code
			,info_lecture_sort
			,info_lecture_name
			,info_lecture_date
		) VALUES (
			#{infoLectureCode}
			,#{infoLectureSort}
			,#{infoLectureName}
			,now()
		)		
	</insert>
	<!-- infoLecture 리스트 출력 메서드 -->
	<select id="associatonSelectInfoLectureList"
			resultMap="infoLectureResultMap">
		SELECT 
			info_lecture_code
			,info_lecture_sort
			,info_lecture_name
			,left(info_lecture_date, 10) AS info_lecture_date
		FROM 
			info_lecture	
	</select>
	
	<!-- infoLectureCode를 입력받아 detailInfoLecture출력 메서드 -->
	<select id="associatonSelectDetailInfoLecture"
			parameterType="String"
			resultMap="infoLectureResultMap">
		SELECT 
			info_lecture_code
			,info_lecture_sort
			,info_lecture_name
			,left(info_lecture_date, 10) AS info_lecture_date
		FROM 
			info_lecture	
		WHERE
			info_lecture_code = #{infoLectureCode}
	</select>
	
	<!-- LectureCode을 입력받아 infoSubject 과목리스트 출력 / 비동기방식 -->
	<select id="associationSelectSubjectListByLectureCode"
			parameterType="String"
			resultMap="InfoSubjectMap">
		SELECT
			info_subject_code
			, info_lecture_code
			, info_subject_name
			, info_subject_difficulty
		FROM 
			info_subject
		WHERE 
			info_lecture_code = #{lectureCode}
	</select>
	
	<!-- infoSubject 등록을 위한 메서드 -->
	<insert id="associationInsertInfoSubject"
			parameterType="kr.or.ksmart.lms.association.vo.InfoSubject">
		INSERT INTO info_subject (
			info_subject_code
			,info_lecture_code
			,info_subject_name
			,info_subject_difficulty
			,info_subject_modification_history
		) VALUES (
			#{infoSubjectCode}
			,#{infoLectureCode}
			,#{infoSubjectName}
			,#{infoSubjectDifficulty}
			,now()
		)
	</insert>

	<!-- detail Subject 출력 메서드 -->
	<select id="associationSelectInfoSubjectBySubjectCode"
			parameterType="String"
			resultMap="InfoSubjectMap">
		SELECT 
			info_subject_code
			,info_subject_name
			,info_subject_difficulty
			,info_subject_modification_history
		FROM 
			info_subject
		WHERE 
			info_subject_code = #{infoSubjectCode}
	</select>

	<!-- Lecture 강의표준명 리스트 출력 / 비동기방식 -->
	<select id="associationSelectInfoLectureNameList" 
			parameterType="String"
			resultMap="infoLectureResultMap">
		SELECT
			info_lecture_code
			,info_lecture_name
		FROM 
			info_lecture
		WHERE 
			info_lecture_sort = #{lectureSort}
	</select>	 
		
	<!-- Lecture 강의분류 리스트 출력 -->
	<select id="associationSelectInfoLectureSortList" 
			resultMap="infoLectureResultMap">
		SELECT DISTINCT
			info_lecture_sort
		FROM 
			info_lecture
	</select>	
	
	<!-- 교육원 리스트 출력 -->
	<select id="associationSelectInstitutionList"
			resultMap="InstitutionResultMap">
		SELECT 
			institution_code
			,institution_name
			,institution_phone
			,institution_postcode
			,institution_address
			,institution_address_desc
			,institution_location
			,left(institution_registration_date, 10) AS institution_registration_date
		FROM institution		
	</select>
	
	<!-- 교육원 검색 -->
	<select id="associationSelectInstitutionListByKeyword"
			parameterType="String"
			resultMap="InstitutionResultMap">
		SELECT 
			institution_code
			,institution_name
			,institution_location
		FROM 
			institution 
		WHERE 
			institution_location 
		LIKE 
			#{institutionName}
	</select>
</mapper>