<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.ksmart.lms.association.mapper.AssociationSendEmailMapper">
	<insert id="insertTeacherApproval"
			parameterType="String">
		INSERT INTO teacher_approval (
			teacher_approval_code
			, teacher_approval_insert_date)
		VALUES (
			#{teacherApprovalCode}
			, now())
	</insert>
	<insert id="insertAdminApproval"
			parameterType="String">
		INSERT INTO institution_approval (
			institution_approval_code
			, institution_approval_insert_date)
		VALUES (
			#{institutionApprovalCode}
			, now())
	</insert>
</mapper>