<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.ksmart.lms.association.mapper.AssociationEvaluationMapper"> 
	<!-- 교육원 관리 합계 resultMap -->
	<resultMap id="EvalTotalMap"
				type="kr.or.ksmart.lms.association.vo.EvalTotal">
		<result column="eval_total_code" property="evalTotalCode"/>
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
		<result column="eval_total_type" property="evalTotalType"/>
		<result column="eval_total_year" property="evalTotalYear"/>
		<result column="eval_total_jan" property="evalTotalJan"/>
		<result column="eval_total_feb" property="evalTotalFeb"/>
		<result column="eval_total_mar" property="evalTotalMar"/>
		<result column="eval_total_apr" property="evalTotalApr"/>
		<result column="eval_total_may" property="evalTotalMay"/>
		<result column="eval_total_jun" property="evalTotalJun"/>
		<result column="eval_total_jul" property="evalTotalJul"/>
		<result column="eval_total_aug" property="evalTotalAug"/>
		<result column="eval_total_sep" property="evalTotalSep"/>
		<result column="eval_total_oct" property="evalTotalOct"/>
		<result column="eval_total_nov" property="evalTotalNov"/>
		<result column="eval_total_dec" property="evalTotalDec"/>
		<result column="eval_total_sum_score" property="evalTotalSumScore"/>
		<result column="eval_total_date" property="evalTotalDate"/>
	</resultMap>

	<!-- 교육원 평가 resultMap -->
	<resultMap id="InfoEvalByAssociationMap"
				type="kr.or.ksmart.lms.association.vo.InfoEvalByAssociation">
		<result column="info_eval_by_association_code" property="infoEvalByAssociationCode"/>
		<result column="info_eval_by_association_sort" property="infoEvalByAssociationSort"/>
		<result column="info_eval_by_association_type" property="infoEvalByAssociationType"/>
		<result column="info_eval_by_association_contents" property="infoEvalByAssociationContents"/>
		<result column="info_eval_by_association_effective_date" property="infoEvalByAssociationEffectiveDate"/>
		<result column="info_eval_by_association_insert_date" property="infoEvalByAssociationInsertDate"/>
	</resultMap>

	<!-- 교육원 resultMap -->
	<resultMap id="InstitutionMap"
				type="kr.or.ksmart.lms.association.vo.Institution">
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
	</resultMap>

	<!-- 평가를 해야하는 교육원 리스트 select  -->
	<select id="selectInstitutionCodeList"
			resultType="String">
		SELECT DISTINCT
			institution_code
		FROM 
			available_institution
		WHERE
			available_institution_remaining_date > 0
	</select>

	<!-- 평가를 해야하는 교육원코드와 교육원 이름 리스트 select  -->
	<select id="selectInstitutionCodeAndName"
			resultMap="InstitutionMap">
		SELECT
			ai.institution_code AS institution_code
			, i.institution_name AS institution_name
		FROM 
			available_institution ai
		INNER JOIN
			institution i
		ON
			ai.institution_code = i.institution_code
		WHERE
			ai.available_institution_remaining_date > 0
	</select>

	<!-- 교육원 평가 합계 insert -->
	<insert id="insertEvalTotal"
			parameterType="java.util.Map">
		INSERT INTO 
			eval_total (
				eval_total_code
				, institution_code
				, institution_name
				, eval_total_type
				, eval_total_year
				, eval_total_date
			)
		VALUES (
			#{evalTotalCode}
			, #{institutionCode}
			, (
			SELECT
				institution_name
			FROM
				institution
			WHERE
				institution_code = #{institutionCode}
			)
			, #{evalTotalType}
			, #{evalTotalYear}
			, now()
			)
	</insert>

	<!-- 교육원 평가 합계 한개 출력 select  -->
	<select id="selectEvalTotal"
			parameterType="String"
			resultMap="EvalTotalMap">
		SELECT
			eval_total_code
			, institution_code
			, institution_name
			, eval_total_type
			, eval_total_year
			, eval_total_jan
			, eval_total_feb
			, eval_total_mar
			, eval_total_apr
			, eval_total_may
			, eval_total_jun
			, eval_total_jul
			, eval_total_aug
			, eval_total_sep
			, eval_total_oct
			, eval_total_nov
			, eval_total_dec
			, eval_total_sum_score
			, eval_total_date
		FROM 
			eval_total
		WHERE
			eval_total_code = #{evalTotalCode}
	</select>

	<!-- 교육원 평가 합계 수정 update  -->
	<update id="updateEvalTotal"
			parameterType="kr.or.ksmart.lms.association.vo.EvalTotal">
		UPDATE 
			eval_total
		SET
			eval_total_jan = #{evalTotalJan}
			, eval_total_feb = #{evalTotalFeb}
			, eval_total_mar = #{evalTotalMar}
			, eval_total_apr = #{evalTotalApr}
			, eval_total_may = #{evalTotalMay}
			, eval_total_jun = #{evalTotalJun}
			, eval_total_jul = #{evalTotalJul}
			, eval_total_aug = #{evalTotalAug}
			, eval_total_sep = #{evalTotalSep}
			, eval_total_oct = #{evalTotalOct}
			, eval_total_nov = #{evalTotalNov}
			, eval_total_dec = #{evalTotalDec}
			, eval_total_sum_score = #{evalTotalSumScore}
		WHERE 
			eval_total_code = #{evalTotalCode}
	</update>

	<!-- 교육원 평가 년도에 따른 입력 조건 출력 select  -->
	<select id="selectEvalTotalYear"
			resultType="Integer">
       	SELECT DISTINCT
			eval_total_year
		FROM 
			eval_total
	</select>

	<!-- 교육원 평가 항목에 따른 입력 조건 출력 select  -->
	<select id="selectEvalTotalType"
			resultType="String">
       	SELECT DISTINCT
			eval_total_type
		FROM 
			eval_total
	</select>
	
	<!-- 검색 조견별 교육원 평가 합계 리스트 출력 select  -->
	<select id="selectSerachEvalTotalList"
			parameterType="java.util.Map"
			resultMap="EvalTotalMap">
		SELECT
			eval_total_code
			, institution_code
			, institution_name
			, eval_total_type
			, eval_total_year
			, eval_total_jan
			, eval_total_feb
			, eval_total_mar
			, eval_total_apr
			, eval_total_may
			, eval_total_jun
			, eval_total_jul
			, eval_total_aug
			, eval_total_sep
			, eval_total_oct
			, eval_total_nov
			, eval_total_dec
			, eval_total_sum_score
			, eval_total_date
		FROM 
			eval_total
		WHERE
			eval_total_year LIKE #{evalTotalYear}
			AND
			eval_total_type LIKE #{evalTotalType}
	</select>
	
	<!-- 교육원 평가 합계 리스트 출력 select  -->
	<select id="selectEvalTotalList"
			resultMap="EvalTotalMap">
		SELECT
			eval_total_code
			, institution_code
			, institution_name
			, eval_total_type
			, eval_total_year
			, eval_total_jan
			, eval_total_feb
			, eval_total_mar
			, eval_total_apr
			, eval_total_may
			, eval_total_jun
			, eval_total_jul
			, eval_total_aug
			, eval_total_sep
			, eval_total_oct
			, eval_total_nov
			, eval_total_dec
			, eval_total_sum_score
			, eval_total_date
		FROM 
			eval_total
	</select>

	<!-- 교육원 평가 항목 리스트 출력 select  -->
	<select id="selectInfoEvalByAssociationSortList"
			resultType="String">
       	SELECT DISTINCT
			info_eval_by_association_sort
		FROM 
			info_eval_by_association
	</select>
	
	<!-- 교육원 평가 항목에 따른 리스트 출력 select  -->
	<select id="selectInfoEvalByAssociationList"
			parameterType="String"
			resultMap="InfoEvalByAssociationMap">
		SELECT
			info_eval_by_association_code
			, info_eval_by_association_sort
			, info_eval_by_association_type
			, info_eval_by_association_contents
			, info_eval_by_association_effective_date
			, info_eval_by_association_insert_date
		FROM 
			info_eval_by_association
		WHERE
			info_eval_by_association_sort LIKE #{infoEvalByAssociationSort}
		ORDER BY
			info_eval_by_association_insert_date DESC
			, info_eval_by_association_sort ASC
	</select>

	<!-- 교육원 평가 항목 추가 insert -->
	<insert id="insertEvalByAssociation"
			parameterType="java.util.Map">
		INSERT INTO eval_by_association 
		VALUES (
			#{evalByAssociationCode}
			, (
			SELECT
				eval_total_code
			FROM
				eval_total
			WHERE
				institution_code = #{institutionCode}
			AND
				eval_total_type = #{infoEvalByAssociationSort}
			AND 
				eval_total_year = #{evalTotalYear}
			)
			, #{institutionCode}
			, (
			SELECT
				institution_name
			FROM
				institution
			WHERE
				institution_code = #{institutionCode}
			)
			, #{infoEvalByAssociationCode}
			, (
			SELECT
				info_eval_by_association_sort
			FROM
				info_eval_by_association
			WHERE
				info_eval_by_association_code = #{infoEvalByAssociationCode}
			)
			, (
			SELECT
				info_eval_by_association_type
			FROM
				info_eval_by_association
			WHERE
				info_eval_by_association_code = #{infoEvalByAssociationCode}
			)
			, (
			SELECT
				info_eval_by_association_contents
			FROM
				info_eval_by_association
			WHERE
				info_eval_by_association_code = #{infoEvalByAssociationCode}
			)
			, #{evalByAssociationScore}
			, #{evalByAssociationStartDate}
			, #{evalByAssociationEndDate}
			, #{evalByAssociationResultDate}
			)
	</insert>

	<!-- 교육원 합계 년도별 리스트 출력 select  -->
	<select id="selectEvalTotalByYear"
			parameterType="java.util.Map"
			resultMap="EvalTotalMap">
		SELECT
			institution_code
			, institution_name
		FROM 
			eval_total
		WHERE
			eval_total_year LIKE #{evalTotalYear}
	</select>
</mapper>