<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.ksmart.lms.association.mapper.AssociationMapper"> 

	<resultMap id="infoAnnualFeeMap"
				type="kr.or.ksmart.lms.association.vo.InfoAnnualFee">
		<result column="info_annual_fee_code" property="infoAnnualFeeCode"/>
		<result column="info_annual_fee_price" property="infoAnnualFeePrice"/>
		<result column="info_annual_fee_description" property="infoAnnualFeeDescription"/>
		<result column="info_annual_fee_establishment_date" property="infoAnnualFeeEstablishmentDate"/>
	</resultMap>

	<select id="selectInfoAnnualFeeList" 
			resultMap="infoAnnualFeeMap">
		SELECT
			info_annual_fee_code
			, info_annual_fee_price
			, info_annual_fee_description
			, info_annual_fee_establishment_date
		FROM 
			info_annual_fee
		ORDER BY
			info_annual_fee_establishment_date DESC
	</select>	 

</mapper>