<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.ksmart.lms.association.mapper.AssociationLicenseTestLocationMapper">
	
	<resultMap type="kr.or.ksmart.lms.association.vo.LicenseTestLocationDetail" id="LicenseTestLocationDetailMap">

		<result column="license_test_location_detail_code" property="licenseTestLocationDetailCode"/>
		<result column="license_test_location_code" property="licenseTestLocationCode"/>
		<result column="license_test_location_detail_classroom" property="licenseTestLocationDetailClassroom"/>
		<result column="license_test_location_detail_use" property="licenseTestLocationDetailUse"/>
		<result column="license_test_location_detail_maximum_number" property="licenseTestLocationDetailMaximumNumber"/>
		<result column="license_test_location_detail_use_insert_date" property="licenseTestLocationDetailUseInsertDate"/>	

	</resultMap>
	<resultMap type="kr.or.ksmart.lms.association.vo.LicenseTestLocation" id="LicenseTestLocationMap">

		<result column="license_test_location_code" property="licenseTestLocationCode"/>
		<result column="license_test_location_region" property="licenseTestLocationRegion"/>
		<result column="license_test_location_address" property="licenseTestLocationAddress"/>
		<result column="license_test_location_address_detail" property="licenseTestLocationAddressDetail"/>
		<result column="license_test_location_use" property="licenseTestLocationUse"/>
		<result column="license_test_location_maximum_number" property="licenseTestLocationMaximumNumber"/>	
		<result column="license_test_location_date" property="licenseTestLocationDate"/>
	</resultMap>
	<!-- 자격시험 장소 상세 등록 -->
	<insert id="insertLicenseTestLocationDetail"
			parameterType="kr.or.ksmart.lms.association.vo.LicenseTestLocationDetail">
		INSERT INTO
			license_test_location_detail_code
			VALUES(
			#{licenseTestLocationDetailCode}
			, #{licenseTestLocationCode}
			, #{licenseTestLocationDetailClassroom}
			, #{licenseTestLocationDetailUse}
			, #{licenseTestLocationDetailMaximumNumber}
			, now()
		);
	</insert>
	<!-- 자격시험 장소 상세보기 -->
	<select id="selectLicenseTestLocationDetail"
			parameterType="String"
			resultMap="LicenseTestLocationDetailMap">
		SELECT
			license_test_location_detail_code
			, license_test_location_code
			, license_test_location_detail_classroom
			, license_test_location_detail_use
			, license_test_location_detail_maximum_number
			, license_test_location_detail_use_insert_date
		FROM license_test_location_detail
		WHERE license_test_location_code = #{licenseTestLocationCode}
	</select>
	<!-- 자격시험 장소 조회 -->
	<select id="selectLicenseTestLocation"
			resultMap="LicenseTestLocationMap">
		SELECT
			license_test_location_code
			, license_test_location_region
			, license_test_location_address
			, license_test_location_address_detail
			, license_test_location_use
			, license_test_location_maximum_number
			, license_test_location_date
		FROM license_test_location
	</select>
	<!-- 자격시험 장소 PK --> 
    <select id="selectLicenseTestLocationPk" 
			resultType="String">
		SELECT
			license_test_location_code
		FROM 
			license_test_location
		ORDER BY
			license_test_location_date DESC
		LIMIT
			0,1
	</select>
    
	<!--자격시험 장소 등록-->
	<insert id="insertLicenseTestLocation"
			parameterType="kr.or.ksmart.lms.association.vo.LicenseTestLocation">
		INSERT INTO
			license_test_location
			VALUES(
			#{licenseTestLocationCode}
			, #{licenseTestLocationRegion}
			, #{licenseTestLocationAddress}
			, #{licenseTestLocationAddressDetail}
			, #{licenseTestLocationUse}
			, #{licenseTestLocationMaximumNumber}
			, now()
		);
		            

	</insert>
</mapper>