<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.ksmart.lms.association.mapper.AssociationInfoAnnualFeeMapper"> 
	<!-- 연회비 개요 resultMap -->
	<resultMap id="infoAnnualFeeMap"
				type="kr.or.ksmart.lms.association.vo.InfoAnnualFee">
		<result column="info_annual_fee_code" property="infoAnnualFeeCode"/>
		<result column="info_annual_fee_price" property="infoAnnualFeePrice"/>
		<result column="info_annual_fee_description" property="infoAnnualFeeDescription"/>
		<result column="info_annual_fee_establishment_date" property="infoAnnualFeeEstablishmentDate"/>
	</resultMap>

	<!-- 교육원 사용권한 resultMap -->
	<resultMap id="availableInstitutionMap"
				type="kr.or.ksmart.lms.association.vo.AvailableInstitution">
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
		<result column="payment_annual_fee_code" property="paymentAnnualFeeCode"/>
		<result column="payment_annual_fee_service_start_date" property="paymentAnnualFeeServiceStartDate"/>
		<result column="payment_annual_fee_service_end_date" property="paymentAnnualFeeServiceEndDate"/>
		<result column="available_institution_remaining_date" property="availableInstitutionRemainingDate"/>
		<result column="available_institution_availability" property="availableInstitutionAvailability"/>
	</resultMap>

	<!-- 연회비 결제내역 resultMap -->
	<resultMap id="paymentAnnualFeeMap"
				type="kr.or.ksmart.lms.association.vo.PaymentAnnualFee">
		<result column="payment_annual_fee_code" property="paymentAnnualFeeCode"/>
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
		<result column="info_annual_fee_code" property="infoAnnualFeeCode"/>
		<result column="payment_annual_fee_price" property="paymentAnnualFeePrice"/>
		<result column="payment_annual_fee_service_start_date" property="paymentAnnualFeeServiceStartDate"/>
		<result column="payment_annual_fee_service_end_date" property="paymentAnnualFeeServiceEndDate"/>
		<result column="payment_annual_fee_date" property="paymentAnnualFeeDate"/>
		<result column="payment_annual_fee_method" property="paymentAnnualFeeMethod"/>
	</resultMap>

	<!-- 환불 정책 resultMap -->
	<resultMap id="refundPolicyMap"
				type="kr.or.ksmart.lms.association.vo.RefundPolicy">
		<result column="refund_policy_code" property="refundPolicyCode"/>
		<result column="refund_policy_name" property="refundPolicyName"/>
		<result column="refund_policy_description" property="refundPolicyDescription"/>
		<result column="refund_policy_type" property="refundPolicyType"/>
		<result column="refund_policy_percentage" property="refundPolicyPercentage"/>
		<result column="refund_policy_legislation_date" property="refundPolicyLegislationDate"/>
	</resultMap>

	<!-- 연회비 환불 리스트 resultMap -->
	<resultMap id="refundAnnualFeeMap"
				type="kr.or.ksmart.lms.association.vo.RefundAnnualFee">
		<result column="refund_annual_fee_code" property="refundAnnualFeeCode"/>
		<result column="payment_annual_fee_code" property="paymentAnnualFeeCode"/>
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
		<result column="refund_policy_code" property="refundPolicyCode"/>
		<result column="info_annual_fee_code" property="infoAnnualFeeCode"/>
		<result column="refund_annual_fee_price" property="refundAnnualFeePrice"/>
		<result column="payment_annual_fee_service_start_date" property="paymentAnnualFeeServiceStartDate"/>
		<result column="payment_annual_fee_service_end_date" property="paymentAnnualFeeServiceEndDate"/>
		<result column="info_institution_remaining_date" property="infoInstitutionRemainingDate"/>
		<result column="payment_annual_fee_date" property="paymentAnnualFeeDate"/>
		<result column="refund_annual_fee_date" property="refundAnnualFeeDate"/>
	</resultMap>

	<!-- 연회비 개요  select -->
	<select id="selectInfoAnnualFeeList" 
			resultMap="infoAnnualFeeMap">
		SELECT
			info_annual_fee_code
			, info_annual_fee_price
			, info_annual_fee_description
			, info_annual_fee_establishment_date
		FROM 
			info_annual_fee
		ORDER BY
			info_annual_fee_establishment_date DESC
	</select>

	<!-- 연회비 개요 PK select  -->
	<select id="selectInfoAnnualFeePk" 
			resultType="String">
		SELECT
			info_annual_fee_code
		FROM 
			info_annual_fee
		ORDER BY
			info_annual_fee_establishment_date DESC
		LIMIT
			0,1
	</select>
	
	<!-- 연회비 개요 insert -->
	<insert id="insertInfoAnnualFee"
			parameterType="kr.or.ksmart.lms.association.vo.InfoAnnualFee">
		INSERT INTO 
			info_annual_fee
		VALUES (
			#{infoAnnualFeeCode}
			, #{infoAnnualFeePrice}
			, #{infoAnnualFeeDescription}
			, now()
			)
	</insert>

	<!-- 교육원 사용권한 리스트 select  -->
	<select id="selectAvailableInstitutionList" 
			resultMap="availableInstitutionMap">
		SELECT
			institution_code
			, institution_name
			, payment_annual_fee_code
			, payment_annual_fee_service_start_date
			, payment_annual_fee_service_end_date
			, available_institution_remaining_date
			, available_institution_availability
		FROM 
			available_institution
		ORDER BY
			institution_code ASC
	</select>

	<!-- 교육원 사용 여부 한개 select  -->
	<select id="selectAvailableInstitution"
			parameterType="String"
			resultMap="availableInstitutionMap">
		SELECT
			institution_code
			, institution_name
			, payment_annual_fee_code
			, payment_annual_fee_service_start_date
			, payment_annual_fee_service_end_date
			, available_institution_remaining_date
			, available_institution_availability
		FROM 
			available_institution
		WHERE
			institution_code = #{institutionCode}
	</select>

	<!-- 사용권한 update -->
	<update id="updateAvailableInstitution"
			parameterType="kr.or.ksmart.lms.association.vo.AvailableInstitution">
		UPDATE 
			available_institution
		SET
			payment_annual_fee_service_end_date = #{paymentAnnualFeeServiceEndDate}
			, available_institution_remaining_date = #{availableInstitutionRemainingDate}
			, available_institution_availability = #{availableInstitutionAvailability}
		WHERE 
			institution_code = #{institutionCode}
	</update>

	<!-- 연회비 결제한 교육원 리스트 select  -->
	<select id="selectinstitutionCodeList"
			resultType="String">
		SELECT DISTINCT
			institution_code
		FROM 
			payment_annual_fee
	</select>

	<!-- 연회비 총 결제 내역 select  -->
	<select id="selectPaymentAnnualFeeList"
			resultMap="paymentAnnualFeeMap">
		SELECT 
			payment_annual_fee_code
			, institution_code
			, institution_name
			, info_annual_fee_code
			, payment_annual_fee_price
			, payment_annual_fee_service_start_date
			, payment_annual_fee_service_end_date
			, payment_annual_fee_date
			, payment_annual_fee_method
		FROM 
			payment_annual_fee
		ORDER BY
			payment_annual_fee_date DESC
	</select>

	<!-- 연회비 결제 내역 select  -->
	<select id="selectAnnualFee"
			parameterType="String"
			resultMap="paymentAnnualFeeMap">
		SELECT
			payment_annual_fee_code
			, institution_code
			, institution_name
			, info_annual_fee_code
			, payment_annual_fee_price
			, payment_annual_fee_service_start_date
			, payment_annual_fee_service_end_date
			, payment_annual_fee_date
			, payment_annual_fee_method
		FROM 
			payment_annual_fee
		WHERE
			payment_annual_fee_code = #{paymentAnnualFeeCode}
	</select>
	
	<!-- 연회비 환불을 위한 결제 내역 select  -->
	<select id="selectPaymentAnnualFeeListForRefund"
			parameterType = "java.util.Map"
			resultMap="paymentAnnualFeeMap">
       	SELECT DISTINCT
			payment_annual_fee_code
			, institution_code
			, institution_name
			, info_annual_fee_code
			, payment_annual_fee_price
			, payment_annual_fee_service_start_date
			, payment_annual_fee_service_end_date
			, payment_annual_fee_date
			, payment_annual_fee_method
		FROM 
			payment_annual_fee
		WHERE
			institution_code = #{institutionCode}
			<if test="Check.equals(true)">
				AND NOT payment_annual_fee_code IN (
				    <foreach collection="paymentAnnualFeeCodes" item="item" separator=",">
						#{item}
					</foreach>
				) 
			</if>
		ORDER BY
			payment_annual_fee_date DESC
		LIMIT
			0, 1
	</select>

	<!-- 연회비 환불 PK select  -->
	<select id="selectRefundAnnualFeePK" 
			resultType="String">
		SELECT
			refund_annual_fee_code
		FROM 
			refund_annual_fee
		ORDER BY
			refund_annual_fee_date DESC
		LIMIT
			0,1
	</select>

	<!-- 연회비 환불 정책 insert -->
	<insert id="insertRefundAnnualFee"
			parameterType="kr.or.ksmart.lms.association.vo.RefundAnnualFee">
		INSERT INTO 
			refund_annual_fee
		VALUES (
			#{refundAnnualFeeCode}
			, #{paymentAnnualFeeCode}
			, #{institutionCode}
			, #{institutionName}
			, #{refundPolicyCode}
			, #{infoAnnualFeeCode}
			, #{refundAnnualFeePrice}
			, #{paymentAnnualFeeServiceStartDate}
			, #{paymentAnnualFeeServiceEndDate}
			, #{infoInstitutionRemainingDate}
			, #{paymentAnnualFeeDate}
			, now()
			)
	</insert>

	<!-- 연회비 환불 리스트 select  -->
	<select id="selectRefundAnnualFeeList"
			resultMap="refundAnnualFeeMap">
		SELECT 
			refund_annual_fee_code
			, payment_annual_fee_code
			, institution_code
			, institution_name
			, refund_policy_code
			, info_annual_fee_code
			, refund_annual_fee_price
			, payment_annual_fee_service_start_date
			, payment_annual_fee_service_end_date
			, info_institution_remaining_date
			, payment_annual_fee_date
			, refund_annual_fee_date
		FROM 
			refund_annual_fee
		ORDER BY
			refund_annual_fee_date DESC
	</select>

	<!-- 연회비 환불 정책  select  -->
	<select id="selectRefundPolicyAnnualFeeList" 
			resultMap="refundPolicyMap">
		SELECT
			refund_policy_code
			, refund_policy_name
			, refund_policy_description
			, refund_policy_type
			, refund_policy_percentage
			, refund_policy_legislation_date
		FROM 
			refund_policy
		WHERE
			refund_policy_type = '연회비 환불'
		ORDER BY
			refund_policy_legislation_date DESC
	</select>

	<!-- 교육원 별 연회비 환불 리스트 select  -->
	<select id="selectRefundAnnualFeePAFCK"
			parameterType="String"
			resultType="String">
		SELECT 
			payment_annual_fee_code
		FROM 
			refund_annual_fee
		WHERE
			institution_code = #{institutionCode}
	</select>
</mapper>