<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.ksmart.lms.association.mapper.AssociationNoticeLicenseTestMapper">
	<!-- 자격 시험 공고 resultMap -->
	<resultMap type="kr.or.ksmart.lms.association.vo.NoticeLicenseTest" id="NoticeLicenseTestMap">
		<result column="notice_license_test_code" property="noticeLicenseTestCode"/>
		<result column="info_qualification_code" property="infoQualificationCode"/>
		<result column="notice_license_test_name" property="noticeLicenseTestName"/>
		<result column="notice_annual_license_test_code" property="noticeAnnualLicenseTestCode"/>
		<result column="license_test_location_code" property="licenseTestLocationCode"/>
		<result column="license_test_location_region" property="licenseTestLocationRegion"/>
		<result column="license_test_location_address" property="licenseTestLocationAddress"/>
		<result column="notice_annual_license_test_apply_start_date" property="noticeAnnualLicenseTestApplyStartDate"/>
		<result column="notice_annual_license_test_apply_end_date" property="noticeAnnualLicenseTestApplyEndDate"/>
		<result column="notice_license_test_date" property="noticeLicenseTestDate"/>
		<result column="notice_annual_license_test_result_date" property="noticeAnnualLicenseTestResultDate"/>
		<result column="notice_license_test_insert_date" property="noticeLicenseTestInsertDate"/>
	</resultMap>

	<!-- 자격 시험 공고 등록 -->
	<insert id="insertNoticeLicenseTest"
			parameterType="kr.or.ksmart.lms.association.vo.NoticeLicenseTest">
		INSERT INTO
			notice_license_test	
		VALUES(
			#{noticeLicenseTestCode}
			, #{infoQualificationCode}
			, #{noticeLicenseTestName}
			, #{noticeAnnualLicenseTestCode}
			, #{licenseTestLocationCode}
			, #{licenseTestLocationRegion}
			, #{licenseTestLocationAddress}
			, #{noticeAnnualLicenseTestApplyStartDate}
			, #{noticeAnnualLicenseTestApplyEndDate}
			, #{noticeLicenseTestDate}
			, #{noticeAnnualLicenseTestResultDate}
			, now()
		 );
	</insert>
	<!-- 자격 시험 공고 리스트  -->
	<select id="selectNoticeLicenseTest"
			resultMap="NoticeLicenseTestMap">
		SELECT
			notice_license_test_code
			, info_qualification_code
			, notice_license_test_name
			, notice_annual_license_test_code
			, license_test_location_code
			, license_test_location_region
			, license_test_location_address
			, notice_annual_license_test_apply_start_date
			, notice_annual_license_test_apply_end_date
			, notice_license_test_date
			, notice_annual_license_test_result_date
		FROM notice_license_test
	</select>
</mapper>