<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/associationLayout">
<meta charset="utf-8">
<!-- html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
		div {
		    text-align: center;
		}
	</style>
</th:block>

<!-- html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
	<h3>자격증 신청 리스트</h3>
	<table class="table table-striped">
		<tr>
			<th>자격시험접수번호</th>
			<th>자격종목코드</th>
			<th>자격종목명</th>
			<th>지역</th>
			<th>주소</th>
			<th>회원코드</th>
			<th>회원명</th>
			<th>자격시험공고코드</th>
			<th>시험방법</th>
			<th>시험명</th>
			<th>접수일시</th>
			<th>시험장소코드</th>
			<th>시험장소</th>
			<th>결제방법</th>
		</tr>
		<tr th:each="subject:${list}">
			<td th:text="${subject.licenseTestApplicationNo}"></td>
			<td type="hidden" th:text="${subject.infoQualificationCode}"></td>
			<td th:text="${subject.infoQualificationName}"></td>
			<td th:text="${subject.licenseTestLocationRegion}"></td>
			<td th:text="${subject.licenseTestLocationAddress}"></td>
			<td type="hidden" th:text="${subject.memberCode}"></td>
			<td th:text="${subject.memberName}"></td>
			<td type="hidden" th:text="${subject.noticeLicenseTestCode}"></td>
			<td th:text="${subject.licenseTestApplicationType}"></td>
			<td th:text="${subject.noticeLicenseTestName}"></td>
			<td th:text="${subject.licenseTestApplicationDate}"></td>
			<td type="hidden" th:text="${subject.licenseTestLocationCode}"></td>
			<td th:text="${subject.licenseTestLocation}"></td>
			<td th:text="${subject.licenseTestPaymentMethod}"></td>
		</tr>

	</table>
</div>
</html>