<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/associationLayout">
<meta charset="utf-8">
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script src="http://dapi.kakao.com/v2/maps/sdk.js?appkey=3cf360ba559886010eddbd5839c50967&libraries=services,clusterer,drawing"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
    		center: new daum.maps.LatLng(37.537187, 127.005476), // 지도의 중심좌표
            level: 5 // 지도의 확대 레벨
        };

    //지도를 미리 생성
    var map = new daum.maps.Map(mapContainer, mapOption);
    //주소-좌표 변환 객체를 생성
    var geocoder = new daum.maps.services.Geocoder();
    //마커를 미리 생성
    var marker = new daum.maps.Marker({
        position: new daum.maps.LatLng(),
        map: map
    });


    function sample5_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                var addr = data.address; // 최종 주소 변수

                // 주소 정보를 해당 필드에 넣는다.
                document.getElementById("licenseTestLocationAddress").value = addr;
                // 주소로 상세 정보를 검색
                geocoder.addressSearch(data.address, function(results, status) {
                    // 정상적으로 검색이 완료됐으면
                    if (status === daum.maps.services.Status.OK) {

                        var result = results[0]; //첫번째 결과의 값을 활용

                        // 해당 주소에 대한 좌표를 받아서
                        var coords = new daum.maps.LatLng(result.y, result.x);
                        // 지도를 보여준다.
                        mapContainer.style.display = "block";
                        map.relayout();
                        // 지도 중심을 변경한다.
                        map.setCenter(coords);
                        // 마커를 결과값으로 받은 위치로 옮긴다.
                        marker.setPosition(coords)
                    }
                });
            }
        }).open();
    }
</script>
	<script>	//유효성 검사
		$(document).ready(function() {
			//유효성 검사를 위한 변수 선언
			
			let licenseTestLocationRegionCheck = true;
			let licenseTestLocationAddressDetailCheck = true;
			let licenseTestLocationUseCheck = true;
			let licenseTestLocationMaximumNumberCheck = true;
	
			//licenseTestLocationRegion 입력 유효성 검사
			$('#licenseTestLocationRegion').blur(function() {
				if($('#licenseTestLocationRegion').val() == "") {
					console.log('licenseTestLocationRegion 공백입력')
					licenseTestLocationRegionCheck = true;
				} else {
	                console.log('licenseTestLocationRegion 유효성 검사 완료')
					licenseTestLocationRegionCheck = false;
				}
			});
	
			//licenseTestLocationAddressDetail 입력 유효성 검사
			$('#licenseTestLocationAddressDetail').blur(function() {
				if($('#licenseTestLocationAddressDetail').val() == "") {
					console.log('licenseTestLocationAddressDetail 공백입력')
					licenseTestLocationAddressDetailCheck = true;
				} else {
	                console.log('licenseTestLocationAddressDetail 유효성 검사 완료')
					licenseTestLocationAddressDetailCheck = false;
				}
			});
	
			//licenseTestLocationUse 입력 유효성 검사
			$('#licenseTestLocationUse').blur(function() {
				if($('#licenseTestLocationUse').val() == "") {
					console.log('licenseTestLocationUse 공백입력')
					licenseTestLocationUseCheck = true;
				} else {
	                console.log('licenseTestLocationUse 유효성 검사 완료')
					licenseTestLocationUseCheck = false;
				}
			});
	
			//licenseTestLocationMaximumNumber 입력 유효성 검사
			$('#licenseTestLocationMaximumNumber').blur(function() {
				if($('#licenseTestLocationMaximumNumber').val() == "") {
					console.log('licenseTestLocationMaximumNumber 공백입력')
					licenseTestLocationMaximumNumberCheck = true;
				} else {
	                console.log('infoQualificationDescription 유효성 검사 완료')
					licenseTestLocationMaximumNumberCheck = false;
				}	
			});
	
			//btnAdd 클릭 이벤트 처리
			$('#btnAdd').on('click',function() {
				if(licenseTestLocationRegionCheck) {
					$('h4').addClass('red');
					$('h4').text('지역이 공백 상태 입니다.');
				} else if(licenseTestLocationAddressDetailCheck) {
					$('h4').addClass('red');
					$('h4').text('주소가 공백 상태 입니다.');
				} else if(licenseTestLocationUseCheck) {
					$('h4').addClass('red');
					$('h4').text('시험용도가 공백 상태 입니다.');
				} else if(licenseTestLocationMaximumNumberCheck) {
					$('h4').addClass('red');
					$('h4').text('최대수용인원이 공백 상태 입니다.');
				} else {
					$('#addLicenseTestLocation').submit()
				}
			});
	
		});
	</script>
</th:block>

<div layout:fragment="content">
	<h3>자격증시험장소 관리</h3>
	<form id="addLicenseTestLocation" action="/association/license/addLicenseTestLocation" method="post">
		
		<div class="form-group">
			<label>지역 :</label>
				<select class="form-control" id="licenseTestLocationRegion" name="licenseTestLocationRegion" style="font-size: 9pt; font-family: 굴림체"> 
               		<option  value="전체보기">전체보기</option> 
                	<option  value="서울">서울특별시</option>
                	<option  value="강원">강원도</option>
                	<option  value="경기">경기도</option>
                	<option  value="인천">인천광역시</option>  
                	<option  value="경북">경상북도</option>
                	<option  value="경남">경상남도</option>    
                	<option  value="대구">대구광역시</option>
                	<option  value="울산">울산광역시</option> 
                	<option  value="부산">부산광역시</option> 
                	<option  value="전북">전라북도</option> 
                	<option  value="전남">전라남도</option>  
                	<option  value="광주">광주광역시</option> 
                	<option  value="충북">충청북도</option> 
                	<option  value="충남">충청남도</option> 
                	<option  value="대전">대전광역시</option> 
                	<option  value="제주">제주도</option> 
          	 	 </select>
		</div>
		<div class="form-group"></div>
			<label>주소 :</label>				
			<input type="text" id="licenseTestLocationAddress" name="licenseTestLocationAddress" placeholder="주소">
			<input type="button" onclick="sample5_execDaumPostcode()" value="주소 검색"><br>
			<input type="text" id="licenseTestLocationAddressDetail" name="licenseTestLocationAddressDetail" placeholder="상세주소">
			<div id="map" style="width:500px;height:400px;"></div>
		<div class="form-group">
			<label>시험용도 :</label>
			<input type="text" class="form-control" id="licenseTestLocationUse" name="licenseTestLocationUse">
		</div>
		<div class="form-group">
			<label>최대수용인원 :</label>
			<input type="text" class="form-control" id="licenseTestLocationMaximumNumber" name="licenseTestLocationMaximumNumber">
		</div>
		<button type="button" id="btnAdd" class="btn btn-secondary">자격증시험장소 등록</button>	
	</form>
	<h4></h4>
</div>
</html>