<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.or.ksmart.lms.index.mapper.IndexMapper">
	<resultMap type="kr.or.ksmart.lms.index.vo.IndexInstitution" id="IndexInstitutionMap">
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
	</resultMap>
	<select id="selectInstitution"
			parameterType="String"
			resultMap="IndexInstitutionMap">
		SELECT
			institution_code
			, institution_name
		FROM institution
		WHERE
			institution_code = #{institutionCode}
	</select>
</mapper>