<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원가입</title>
<style>
	div {
		table-align: center;
		}
</style>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script>
<script>
</script>
</head>
<body>
<form action="#" method="post">
	<table>
		<tr>
			<td>
				회원번호
			</td>
			<td>
				<input type="text" name="memberCode">
			</td>
		</tr>
		<tr>
			<td>
				회원명
			</td>
			<td>
				<input type="text" name="memberName">
			</td>
		</tr>
		<tr>
			<td>
				아이디
			</td>
			<td>
				<input type="text" name="memberOnlineId">
			</td>
		</tr>
		<tr>
			<td>
				비밀번호
			</td>
			<td>
				<input type="text" name="memberOnlinePw">
			</td>
		</tr>
		<tr>
			<td>
				회원등급(hidden으로 변경?)
			</td>
			<td>
				<input type="text" name="memberOnlinePw">
			</td>
		</tr>
		<tr>
			<td>
				교육원코드
			</td>
			<td>
				<input type="text" name="institutionCode">
			</td>
		</tr>
		<tr>
			<td>
				교육원명
			</td>
			<td>
				<input type="text" name="institutionName">
			</td>
		</tr>
		<tr>
			<td colspan="2"><button type="submit">회원가입</button> <button type="button" onclick="location.href='javascript:history.back()'">뒤로가기</button></td>
		</tr>
	</table>
</form>
</body>
</html>