<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<header th:fragment="siderFragment">
<script>
/*사이드 바 드랍다운 관련 자바 스크립트*/
$(document).ready(function() {
	let navdropdown = document.getElementsByClassName("navdropdown-btn");
	let i;

	for (i = 0; i < navdropdown.length; i++) {
		navdropdown[i].addEventListener("click", function() {
			this.classList.toggle("active");
			let dropdownContent = this.nextElementSibling;
			if (dropdownContent.style.display === "block") {
				dropdownContent.style.display = "none";
			} else {
				dropdownContent.style.display = "block";
			}
		});
	}
})
</script>
<div class="sidenav bg-primary">
	<a class="text-white" href="/associationIndex">협회</a>
	
	<button class="navdropdown-btn"><span class="text-white">연회비</span>
		<i style="color:white" class="fas fa-caret-down"></i>
	</button>	
	<div class="navdropdown-container">
		<a class="text-white" href="/association/infoAnnualFee/infoAnnualFeeList">연회비 관리하기</a>
		<a class="text-white" href="/association/infoAnnualFee/addInfoAnnualFee">연회비 개요 추가</a>
		<a class="text-white" href="/association/infoAnnualFee/refundAnnualFeeList">연회비 환불하기</a>
	</div>
	<button class="navdropdown-btn"><span class="text-white">환불정책</span>
		<i style="color:white" class="fas fa-caret-down"></i>
	</button>
	<div class="navdropdown-container">
		<a class="text-white" href="/association/refundPolicy/refundPolicyList">환불정책 리스트</a>
		<a class="text-white" href="/association/refundPolicy/addRefundPolicyAnnualFee">연회비 환불정책 추가</a>
		<a class="text-white" href="/association/refundPolicy/addRefundPolicyLectureList">강의 환불정책 추가</a>
		<a class="text-white" href="/association/refundPolicy/addRefundPolicyLicense">자격 환불정책 추가</a>
	</div>
	<button class="navdropdown-btn"><span class="text-white">평가관리</span>
		<i style="color:white" class="fas fa-caret-down"></i>
	</button>	
	<div class="navdropdown-container">
		<button class="navdropdown-btn"><span class="text-white">평가조회</span>
			<i style="color:white" class="fas fa-caret-down"></i>
		</button>	
		<div class="navdropdown-container">
			<a class="text-white" href="/association/evaluation/evaluationTotal">교육원평가관리</a>
			<a class="text-white" href="/association/evaluation/evaluationTotalChart">평가 합계 차트</a>
			<a class="text-white" href="#">#강사평가</a>
			<a class="text-white" href="#">#강의평가-수강생</a>
			<a class="text-white" href="#">#교육원평가-수강생</a>
			<a class="text-white" href="#">#우수교육원관리</a>
		</div>
		<button class="navdropdown-btn"><span class="text-white">평가항목관리</span>
			<i style="color:white" class="fas fa-caret-down"></i>
		</button>	
		<div class="navdropdown-container">
			<a class="text-white" href="/evalByAssociation">교육원평가항목관리</a>
			<a class="text-white" href="/evalByInstitution">교육원-강사평가항목관리</a>
			<a class="text-white" href="/institutionByStudent">수강생-교육원평가항목관리</a>
			<a class="text-white" href="/lectureByStudent">수강생-강의/강사평가항목관리</a>
		</div>
	</div>
	<button class="navdropdown-btn"><span class="text-white">회원관리</span>
		<i style="color:white" class="fas fa-caret-down"></i>
	</button>
	<div class="navdropdown-container">
		<a class="text-white" href="/">회원조회</a>
		<a class="text-white" href="/sendApprovalCode">승인코드전송</a>
	</div>
</div>
</header>
</html>