<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<header th:fragment="headerFragment">
	<nav class="navbar navbar-expand-sm bg-light navbar-light">
	    <div class="container-fluid">
	        <p></p>
	        <ul th:if="${session.memberName == null}" class="nav navbar-nav navbar-right">
	            <li class="nav-item">
	                <a style="font-size: 14px"  class="nav-link" th:href="@{'/PILogin?institutionCode='+${institutionCode}}">로그인</a>
	            </li>
	            <li class="nav-item">
	                <a style="font-size: 14px"  class="nav-link" th:href="@{'/join?institutionCode='+${institutionCode}}">회원가입</a>
	            </li>
	        </ul>
	        <ul th:if="${session.memberName != null}" class="nav navbar-nav navbar-right">
	            <li class="nav-item">
	                <p style="font-weight: bold; font-size: 8px"><a class="nav-link" th:text="${session.memberName}">님 로그인중</a></p>
	            </li>
	            <li class="nav-item">
	                <a style="font-size: 10px"  class="nav-link" href="/PILogout">로그아웃</a>
	            </li>
	            <li class="nav-item">
	                <a style="font-size: 10px"  class="nav-link" th:href="@{'/myInfo?institutionCode='+${institutionCode}}">내정보</a>
	            </li>
	        </ul>
	    </div>
	</nav>
	<div class="container-fluid container bg-info text-white" style="height: 250px">
	    <p style="height: 100px"></p>
	    <p><a style="font-size: 30px" class="text-white" th:href="@{'/PIIndex?institutionCode='+${institutionCode}}" th:text="${institutionName}"></a></p>
	</div>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	    <div class="container-fluid">
	        <p></p>
	        <ul class="nav navbar-nav navbar-center">
	            <li class="nav-item">
	                <div class="dropdownatuo">
	                    <button class="dropbtn">#교육원소개
	                        <i class="fa fa-caret-down"></i>
	                    </button>
	                    <div class="dropdownatuo-content">
	                        <a href="#">#교육원소개1</a>
	                        <a href="#">#교육원소개2</a>
	                        <a href="#">#교육원소개3</a>
	                    </div>
	                </div>
	            </li>
	            <li class="nav-item">
	                <div class="dropdownatuo">
	                    <button class="dropbtn">강의소개
	                        <i class="fa fa-caret-down"></i>
	                    </button>
	                    <div class="dropdownatuo-content">
	                    	<a th:href="@{'/PI/subject/subjectList?institutionCode='+${institutionCode}}">강의/과목 조회</a>
	                        <a href="#">#강의소개 1</a>
	                        <a href="#">#강의소개 2</a>
	                        <a href="#">#강의소개 3</a>
	                    </div>
	                </div>
	            </li>
	            <li class="nav-item">
	                <div class="dropdownatuo">
	                    <button class="dropbtn">#자격증소개 
	                        <i class="fa fa-caret-down"></i>
	                    </button>
	                    <div class="dropdownatuo-content">
	                        <a href="#">#자격증소개 1</a>
	                        <a href="#">#자격증소개 2</a>
	                        <a href="#">#자격증소개 3</a>
	                    </div>
	                </div>
	            </li>
	        </ul>
	        <p></p>
	    </div>
	</nav>
</header>
</html>