<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="utf-8">
<header th:fragment="headerFragment">
	<nav class="navbar navbar-expand-sm bg-light navbar-light">
	    <div class="container-fluid">
	        <p></p>
	        <ul th:if="${session.memberName == null}" class="nav navbar-nav navbar-right">
	            <li class="nav-item">
	                <a style="font-size: 14px" class="nav-link" th:href="@{'/PILogin?institutionCode='+${institutionCode}}">로그인</a>
	            </li>
	            <li class="nav-item">
	                <a style="font-size: 14px"  class="nav-link" th:href="@{'/join?institutionCode='+${institutionCode}}">회원가입</a>
	            </li>
	        </ul>
	        <ul th:if="${session.memberName != null}" class="nav navbar-nav navbar-right">
	            <li class="nav-item">
	                <a style="font-size: 12px" class="nav-link" th:text="${session.memberRank}"></a>
	            </li>
	            <li class="nav-item">
	                <a style="font-size: 12px; font-weight: bold" class="nav-link" th:text="${session.memberName}+'님'"></a>
	            </li>
	            <li class="nav-item">
	                <a style="font-size: 12px" class="nav-link" th:href="@{'/PILogout?institutionCode='+${institutionCode}}">로그아웃</a>
	            </li>
	            <li class="nav-item">
	                <a style="font-size: 12px" class="nav-link" th:href="@{'/myInfo?institutionCode='+${institutionCode}}">내정보</a>
	            </li>
	        </ul>
	    </div>
	</nav>
	<div class="container-fluid container bg-info text-white" style="height: 250px">
	    <p style="height: 100px"></p>
	    <p><a style="font-size: 30px" class="text-white" th:href="@{'/PIIndex?institutionCode='+${institutionCode}}" th:text="${institutionName}"></a></p>
	</div>
	<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
	    <div class="container-fluid">
	        <p></p>
	        <ul class="nav navbar-nav navbar-center">
	            <li class="nav-item">
	                <div class="dropdownatuo">
	                    <button class="dropbtn">#교육원정보
	                    </button>
	                    <div class="dropdownatuo-content">
	                        <a href="#">#교육원소개</a>
	                        <a href="#">#원장소개</a>
	                        <a href="#">#직원/강사소개</a>
	                        <a href="#">#관련기관</a>
	                    </div>
	                </div>
	            </li>
	            <li class="nav-item">
	                <div class="dropdownatuo">
	                    <button class="dropbtn">#입학안내
	                    </button>
	                    <div class="dropdownatuo-content">
	                        <a href="#">#교육과정</a>
	                        <a href="#">#학사일정</a>
	                        <a href="#">#수강신청안내</a>
	                        <a href="#">#수강생혜택</a>
	                        <a href="#">#유의사항</a>
	                        <a href="#">#환불규정</a>
	                        <a href="#">#학사관리규정</a>
	                        <a href="#">#학습과정운영지침</a>
	                    </div>
	                </div>
	            </li>
	            <li class="nav-item">
	                <div class="dropdownatuo">
	                    <button class="dropbtn">강의소개
	                    </button>
	                    <div class="dropdownatuo-content">
	                    	<a th:href="@{'/PI/lecture/listSubject?institutionCode='+${institutionCode}}">과목 조회</a>
	                        <a th:href="@{'/PI/lecture/listLectureSignupNoticeLecture?institutionCode='+${institutionCode}}">수강신청</a>
	                        <a href="#">#강의자료실</a>
	                        <a href="#">#전자도서관</a>
	                    </div>
	                </div>
	            </li>
	            <li class="nav-item">
	                <div class="dropdownatuo">
	                    <button class="dropbtn">고객지원 
	                    </button>
	                    <div class="dropdownatuo-content">
	                        <a th:href="@{'/PINotice?institutionCode='+${institutionCode}}">공지사항</a>
	                        <a th:href="@{'/PIBoard?institutionCode='+${institutionCode}}">커뮤니티</a>
	                        <a th:href="@{'/PIQnA?institutionCode='+${institutionCode}}">Q&A</a>
	                        <a th:href="@{'/PIFAQ?institutionCode='+${institutionCode}}">자주하는질문</a>
	                    </div>
	                </div>
	            </li>
	            <li class="nav-item">
	                <div class="dropdownatuo">
	                    <button class="dropbtn">마이페이지 
	                    </button>
	                    <div class="dropdownatuo-content">
	                        <a href="@{'/PI/myPage/viewSignupIndex?institutionCode='+${institutionCode}}">수강정보</a>
	                        <a href="#">#학습자료실</a>
	                        <a href="#">#학사종합정보</a>
	                        <a href="@{'/PI/lecture/subjectScore?institutionCode='+${institutionCode}}">#성적관리</a>
	                        <a href="#">#수료관리</a>
	                        <a href="#">#1:1상담게시판</a>
	                        <a th:href="@{'/memberModify?institutionCode='+${institutionCode}}">회원정보수정</a>
	                    </div>
	                </div>
	            </li>
	        </ul>
	        <p></p>
	    </div>
	</nav>
</header>
</html>