<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/associationLayout">
<meta charset="utf-8">
<!-- html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
<script>
$(document).ready(function(){
	// 교육원 목록
    $('#search').click(function(){
        console.log('교육원 검색버튼 클릭...');
        console.log('입력받은 교육원 위치 : '+$('#instName').val());
        $.ajax({
            url:'/association/getInstitutionList'
            ,data:{instName:$('#instName').val()}
            ,type:'POST'
    		,dataType:'json'
            ,success:function(result){ 
                $('#institutionList').empty();
				$('#institutionList').append('<thead>');
				$('#institutionList').append('<tr>');
				$('#institutionList').append('<th>교육원명</th>');
				$('#institutionList').append('<th>교육원위치</th>');
				$('#institutionList').append('</tr>');
				$('#institutionList').append('</thead>');
				$('#institutionList').append('<tbody>');
                $(result).each(function(i,item){	
               	   $('#institutionList').append('<tr><td id="'+item.institutionCode+'" value="'+item.institutionCode+'"><a href="/association/classroom/addClassroom?institutionCode='+item.institutionCode+'">'+item.institutionName+'</a></td><td id="'+item.institutionLocation+'" value="'+item.institutionLocation+'">'+item.institutionLocation+'</td></tr>');
                });
                $('#institutionList').append('</tbody>');
             }
        });
    });	
   $("#instName").keydown(function(key) {
        //키의 코드가 13번일 경우 (13번은 엔터키)
        if (key.keyCode == 13) {
        	console.log('엔터키 입력..');
            //검색버튼을 클릭한다한다.
            $("#search").click();
        }
    });	
});
</script>
</th:block>

<div layout:fragment="content">
	<h2>교육원 찾기</h2>
	<h4>강의실 등록을 위한 교육원을 선택하여 주십시오</h4>
	<h4>도시명으로 검색하실 수 있습니다  </h4>
	<br>
	<h6> ex) 서울, 전주....</h6>
	<input id="instName" name="instName" type="text">
	<button id="search" type="button" class="btn btn-primary btn-rightLarge">search</button>	
	
	<!-- 교육원리스트 출력을 위한 table 태그 -->
	<table id="institutionList" class="table table-striped">
	</table>
</div>
</html>