<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/institutionLayout">
<meta charset="utf-8">
<!-- html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
	<h2>교육원 : 강의관리</h2>
	<ul>
		<li><a href="/institution/subject/subjectList">과목 조회</a></li>
		<li><a href="/institution/#">#강의 조회</a></li>
	</ul>
	<h2>교육원 : 회원관리</h2>
	<ul>
		<li><a href="/institution/memberList">회원 조회</a></li>
		<li><a href="/sendteacher">강사승인코드전송</a></li>
		
	</ul>
</div>
</html>