<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/PILayout">
<meta charset="utf-8">
<title>회원정보</title>
<!-- index.html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- index.html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>
<div layout:fragment="content">
<p style="height: 10px"></p>
	<div class="col-sm-2 list-group"></div>
	<div class="col-sm-2 list-group">
		<a th:href="@{'/memberModify?institutionCode='+${institutionCode}}" class="list-group-item list-group-item-action">정보수정</a>
		<a href="#" class="list-group-item list-group-item-action">#수강정보</a>
		<a href="#" class="list-group-item list-group-item-action">#학습자료실</a>
		<a href="#" class="list-group-item list-group-item-action">#학사 종합정보</a>
		<a href="#" class="list-group-item list-group-item-action">#성적관리</a>
		<a href="#" class="list-group-item list-group-item-action">#수료관리</a>
		<a href="#" class="list-group-item list-group-item-action">#1:1 상담게시판</a>
		<a th:href="@{'/PI/myPage/evaluation?institutionCode='+${institutionCode}}" class="list-group-item list-group-item-action">교육원/강의평가</a>
	</div>
	<div class="col-sm-8 list-group"></div>
</div>
	<p style="height: 200px"></p>

</html>