<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>회원등록</title>
<style>
	div {
		table-align: center;
		}
</style>
<script src="http://dmaps.daum.net/map_js_init/postcode.v2.js"></script><!-- daum post api -->
<script>
    function sample6_execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function(data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var addr = ''; // 주소 변수
                var extraAddr = ''; // 참고항목 변수

                //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                    addr = data.roadAddress;
                } else { // 사용자가 지번 주소를 선택했을 경우(J)
                    addr = data.jibunAddress;
                }

                // 사용자가 선택한 주소가 도로명 타입일때 참고항목을 조합한다.
                if(data.userSelectedType === 'R'){
                    // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                    // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                    if(data.bname !== '' && /[동|로|가]$/g.test(data.bname)){
                        extraAddr += data.bname;
                    }
                    // 건물명이 있고, 공동주택일 경우 추가한다.
                    if(data.buildingName !== '' && data.apartment === 'Y'){
                        extraAddr += (extraAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                    }
                    // 표시할 참고항목이 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                    if(extraAddr !== ''){
                        extraAddr = ' (' + extraAddr + ')';
                    }
                    // 조합된 참고항목을 해당 필드에 넣는다.
                    document.getElementById("sample6_extraAddress").value = extraAddr;
                
                } else {
                    document.getElementById("sample6_extraAddress").value = '';
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                document.getElementById('memberPostcode').value = data.zonecode;
                document.getElementById("memberAddress").value = addr;
                // 커서를 상세주소 필드로 이동한다.
                document.getElementById("memberAddressDesc").focus();
            }
        }).open();
    }
</script>
</head>
<body>
<form action="/memberInsert" method="post">
	<table>
		<tr>
			<td>
				아이디
			</td>
			<td>
				<input type="text" name="memberOnlineId">
			</td>
		</tr>
		<tr>
			<td>
				비밀번호
			</td>
			<td>
				<input type="password" name="memberOnlinePw">
			</td>
		</tr>
		<tr>
			<td>
				이름
			</td>
			<td>
				<input type="text" name="memberName">
			</td>
		</tr>
		<tr>
			<td>
				주민번호
			</td>
			<td>
				<input type="text" name="memberRegistrationNumberFront" size="6"> - <input type="password" name="memberRegistrationNumberBack" size="7">
			</td>
		</tr>
		<tr>
			<td>
				전화번호
			</td>
			<td>
				<pre><input type="tel" name="memberPhoneNumber" pattern="[0-9]{3}-[0-9]{4}-[0-9]{4}" required>	(010-0000-0000)</pre>
			</td>
		</tr>
		<tr>
			<td>
				주소
			</td>
			<td>
				<input type="text" readonly="readonly" maxlength="14" id="memberPostcode" name="memberPostcode" size="4">
				<input type="button" onclick="sample6_execDaumPostcode()" value="우편번호찾기"><br>
				<input id="memberAddress" name="memberAddress" class="inputTypeText" placeholder="도로명주소" readonly="readonly" value="" type="text" size="30"/><br>
				<input id="memberAddressDesc" name="memberAddressDesc" class="inputTypeText" placeholder="상세주소" value="" type="text"/>
				<input type="text" id="sample6_extraAddress" size="7" placeholder="참고항목">
			</td>
		</tr>
		<tr>
			<td>
				<!-- 회원등급 -->
				<input type="hidden" name="memberRank" value="수강생">
			</td>
		</tr>
		<tr>
			<td>
				교육원
			</td>
			<td>
				<select name="교육원 선택">
					<option value="">--교육원선택--</option>
					<option value="I1" name="I1">전주평생교육원</option>
					<option value="I2" name="I2">서울평생교육원</option>
					<option value="I3" name="I3">성남평생교육원</option>
					<option value="I4" name="I4">인천평생교육원</option>
					<option value="I5" name="I5">광주평생교육원</option>
					<option value="I6" name="I6">구미평생교육원</option>
				</select>
				<input type="hidden" name="optionValue">
			</td>
		</tr>
		<tr>
			<td colspan="2"><button type="submit">회원등록</button> <button type="button" onclick="location.href='javascript:history.back()'">뒤로가기</button></td>
		</tr>
	</table>
</form>
</body>
</html>