<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.or.ksmart.lms.pa.mapper.PABoardMapper">
<!-- Board Detail을 보기 위한 resultMap -->
	<resultMap type="kr.or.ksmart.lms.association.vo.Board" id="BoardMap">
		<result column="board_no" property="boardNo"/>
		<result column="board_title" property="boardTitle"/>
		<result column="board_contents" property="boardContents"/>
		<result column="board_type" property="boardType"/>
		<result column="member_online_id" property="memberOnlineId"/>
		<result column="member_name" property="memberName"/>
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
	</resultMap>
	<select id="getBoardDetail" parameterType="String" resultMap="BoardMap">
		SELECT
			board_no
			, board_title
			, board_contents
			, member_online_id
			, member_name
			, board_date AS boardDate
		FROM	board
		WHERE	board_no=#{boardNo}
	</select>
	<!-- Q&A 리스트 출력 select 쿼리 -->
	<select id="getQnA"
			parameterType="String"
			resultMap="BoardMap">
		SELECT	board_no
				, board_title
				, member_name
				, institution_code
				, left(board_date,10) AS boardDate
		FROM	board
		WHERE	board_type = 'QnA'
	</select>
	<!-- FAQ 리스트 출력 select 쿼리 -->
	<select id="getFAQ"
			parameterType="String"
			resultMap="BoardMap">
		SELECT	board_no
				, board_title
				, member_name
				, institution_code
				, left(board_date,10) AS boardDate
		FROM	board
		WHERE	board_type = 'FAQ'
	</select>
	<!-- Notice 리스트 출력 select 쿼리 -->
	<select id="getNotice"
			parameterType="String"
			resultMap="BoardMap">
		SELECT	board_no
				, board_title
				, member_name
				, institution_code
				, left(board_date,10) AS boardDate
		FROM	board
		WHERE	board_type = '공지사항'
		AND		institution_code = 'I20120101000000'
	</select>
	
</mapper>