<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/associationLayout">
<meta charset="utf-8">
<title>회원 리스트</title>
<!-- html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
<script>
$(document).ready(function(){
	//	회원 등급별로 조회하기
/*	$('#btnRank').on('click',function(){
		console.log('조회할 rank: '+$('#rank').val());
		$.ajax({
			url:'/getAssociationMembersRank'
    		,type:'GET'
    		,data:{'institutionCode':$('#institution').val(),'memberRank':$('#rank').val()}
			,success:function(result){	//	Controller에서 currentPage를 받아옴.
				$('#memberList').empty();
				$(result).each(function(index,item){//	반복문 사용해서 member list 가져오기
					$('#memberList').append('<tr>');
//					$('#memberList').append('<td th:text><input type="checkbox" class="ck" value="'+item.memberOnlineId+'"></td>');
					$('#memberList').append('<td th:text>'+item.memberCode+'</td>');
					$('#memberList').append('<td th:text>'+item.memberName+'</td>');
					$('#memberList').append('<td th:text>'+item.memberOnlineId+'</td>');
					$('#memberList').append('<td th:text>'+item.memberRegistrationNumberFront+'</td>');
					$('#memberList').append('<td th:text>'+item.memberPhoneNumber+'</td>');
					$('#memberList').append('<td th:text>'+item.memberPostcode+'</td>');
					$('#memberList').append('<td th:text>'+item.memberAddress+'</td>');
					$('#memberList').append('<td th:text>'+item.institutionCode+'</td>');
					$('#memberList').append('<td th:text>'+item.institutionName+'</td>');
					$('#memberList').append('<td th:text>'+item.memberRank+'</td>');
					$('#memberList').append('<td th:text>'+item.memberDate+'</td>');
					$('#memberList').append('</tr>');
				});
			}
		});
		$('#btnList').trigger('click');
	});*/

	//	회원 교육원별로 조회하기 select 출력
	$('#institution').change(function(){
		console.log('institutionCode: '+$('#institution').val());
		$.ajax({
			url:'/getAssociationMembersInstitution'
    		,type:'GET'
    		,data:{institutionCode:$('#institution').val()}
			,success:function(result){	//	Controller에서 currentPage를 받아옴.
				$('#memberList').empty();
				$(result).each(function(index,item){//	반복문 사용해서 member list 가져오기
					$('#memberList').append('<tr>');
//					$('#memberList').append('<td th:text><input type="checkbox" class="ck" value="'+item.memberOnlineId+'"></td>');
					$('#memberList').append('<td th:text>'+item.memberCode+'</td>');
					$('#memberList').append('<td th:text>'+item.memberName+'</td>');
					$('#memberList').append('<td th:text>'+item.memberOnlineId+'</td>');
					$('#memberList').append('<td th:text>'+item.memberRegistrationNumberFront+'</td>');
					$('#memberList').append('<td th:text>'+item.memberPhoneNumber+'</td>');
					$('#memberList').append('<td th:text>'+item.memberPostcode+'</td>');
					$('#memberList').append('<td th:text>'+item.memberAddress+'</td>');
					$('#memberList').append('<td th:text>'+item.institutionCode+'</td>');
					$('#memberList').append('<td th:text>'+item.institutionName+'</td>');
					$('#memberList').append('<td th:text>'+item.memberRank+'</td>');
					$('#memberList').append('<td th:text>'+item.memberDate+'</td>');
					$('#memberList').append('</tr>');
				});
			}
		});
		$('#btnList').trigger('click');
	});

	//	전체 회원 조회
	document.getElementById("btnList").addEventListener("click", function(){
		if(document.getElementById("institution").value == ""){		
			$.ajax({
				url:'/getAssociationMembers'
	    		,type:'GET'
//	    		,data:{memberRank:$('#memberRank').val()}
				,success:function(result){	//	Controller에서 currentPage를 받아옴.
					$('#memberList').empty();
					$(result).each(function(index,item){//	반복문 사용해서 member list 가져오기
						$('#memberList').append('<tr>');
//						$('#memberList').append('<td th:text><input type="checkbox" class="ck" value="'+item.memberOnlineId+'"></td>');
						$('#memberList').append('<td th:text>'+item.memberCode+'</td>');
						$('#memberList').append('<td th:text>'+item.memberName+'</td>');
						$('#memberList').append('<td th:text>'+item.memberOnlineId+'</td>');
						$('#memberList').append('<td th:text>'+item.memberRegistrationNumberFront+'</td>');
						$('#memberList').append('<td th:text>'+item.memberPhoneNumber+'</td>');
						$('#memberList').append('<td th:text>'+item.memberPostcode+'</td>');
						$('#memberList').append('<td th:text>'+item.memberAddress+'</td>');
						$('#memberList').append('<td th:text>'+item.institutionCode+'</td>');
						$('#memberList').append('<td th:text>'+item.institutionName+'</td>');
						$('#memberList').append('<td th:text>'+item.memberRank+'</td>');
						$('#memberList').append('<td th:text>'+item.memberDate+'</td>');
						
						$('#memberList').append('</tr>');
					});
				}
			});
			$('#btnList').trigger('click');
		}
	//	회원목록 출력하기
	$('#btnList').hide();
/* 	$('#btnList').on('click',function(){
		console.log("btnList click test")
 */		
	});
	$('#btnList').trigger('click');
});
</script>
</th:block>

<div layout:fragment="content">
	<h1>회원 조회</h1>
	<div class="row">
		<div class="col-md-3">
			<div class="form-group">
				<label for="institution">교육원선택</label>
				<select class="form-control" id="institution" name="institution">
					<option value="">전체보기</option>
					<option th:each="institution:${institution}" th:value="${institution.institutionCode}" th:text="${institution.institutionName}"></option>
					<!-- value=requestParam으로 institutionCode를 보내서 조회할 수 있도록 한다. -->
				</select>
				<small class="form-text text-muted">조회할 교육원을 선택하세요</small>
			</div>
		</div>
		<!-- <div class="col-md-5">
			<div class="form-group">
				<label for="memberRank">등급 선택</label>
				<input type="checkbox" id="rank" th:each="rank:${rank}" th:value="${rank.memberRank}" th:text="${rank.memberRank}">
				<button type="button" id="btnRank" class="btn btn-primary">조회</button>
			</div>
		</div> -->
	</div>
	<button id="btnList" class="btn btn-primary">회원리스트</button>
	<table class="table table-hover">
		<thead>
			<tr>
				<th scope="col">회원코드</th>
				<th scope="col">이름</th>
				<th scope="col">아이디</th>
				<th scope="col">생년월일</th>
				<th scope="col">전화번호</th>
				<th scope="col">우편번호</th>
				<th scope="col">주소</th>
				<th scope="col">교육원코드</th>
				<th scope="col">교육원</th>
				<th scope="col">회원등급</th>
				<th scope="col">가입일</th>
			</tr>
		</thead>
		<tbody id="memberList">
			<!-- <tr th:each="member:${memberList}">
				<input type="hidden" value="${member.memberCode}">
				<th scope="row" th:text="${member.memberName}"></th>
				<td th:text="${member.memberOnlineId}"></td>
				<td th:text="${member.memberPhoneNumber}"></td>
				<td th:text="${member.institutionName}"></td>
				<td th:text="${member.memberRank}"></td> -->
		</tbody>
	</table>
</div>
</html>