<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/associationLayout">
<meta charset="utf-8">
<!-- html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
<script>
$(document).ready(function(){
	// 과목 등록하기 버튼 클릭시 이벤트 처리
	$('#btnAdd').on('click',function(){
		console.log('#btnAdd click test');
		location.href='/association/lecture/addInfoSubject'
	});
	
	// 강의항목 선택
	$('#infoLectureSortList').change(function(){
		console.log('비동기 요청 진행..');
		console.log('infoLectureSortList: '+ $('#infoLectureSortList').val());
		
		// 강의표준명 option(nameList) 출력을 위한 비동기방식 시작
		$.ajax({
			url:'/association/getInfoLectureNameList'
			,data:{lectureSort:$('#infoLectureSortList').val()}
			,type:'Post'
			,dataType:'json'
			,success:function(result){
				$('#infoLectureNameList').empty();
				$('#infoLectureNameList').append('<option value="">----</option>');
				$(result).each(function(i, item){
					$('#infoLectureNameList').append('<option value="'+item.infoLectureCode+'">'+item.infoLectureName+'</option>');
				});
			}
		});		
	});
	//강의표준명 선택
	$('#infoLectureNameList').change(function(){
		console.log('infoLectureCode: '+ $('#infoLectureNameList').val());	
	});	
	// 과목 출력
	document.getElementById("searchSubject").addEventListener("click", function(){
			if(document.getElementById("infoLectureNameList").value ==""){		
				alert("강의표준명을 선택하여 주십시오");
			} else{
				// 강의표준명 option 선택 후 과목리스트 출력을 위한 비동기방식 시작
				$.ajax({
					url:'/association/getSubjectList'
					,data:{lectureCode:$('#infoLectureNameList').val()}
					,type:'Post'
					,dataType:'json'
					,success:function(result){
						$('#subjectList').empty();
						$('#subjectList').append('<thead>');
						$('#subjectList').append('<tr>');
						$('#subjectList').append('<th>과목명</th>');
						$('#subjectList').append('<th>난이도</th>');
						$('#subjectList').append('</tr>');
						$('#subjectList').append('</thead>');
						$('#subjectList').append('<tbody>');
						$(result).each(function(i, item){
							$('#subjectList').append('<tr><td><a href="/association/lecture/detailSubject?infoSubjectCode='+item.infoSubjectCode+'">'+item.infoSubjectName+'</a></td><td>'+item.infoSubjectDifficulty+'</td></tr>');
						});
						$('#subjectList').append('</tbody>');
					}
				});
			}
			console.log("과목조회버튼 클릭..");
	});
});
</script>
</th:block>

<div layout:fragment="content">
	<!-- infoLecture 리스트 출력화면 -->
	<h1>협회 : 과목 목록</h1>
	
	<button type="button" id="btnAdd" class="btn btn-primary btn-rightLarge">과목 등록하기</button><br><br>
		
		<select id="infoLectureSortList" name="infoLectureSortList">
			<option value="">--강의항목선택--</option>
			<option th:each="lecSort:${sortList}" th:text="${lecSort.infoLectureSort}" th:value="${lecSort.infoLectureSort}"></option>
		</select>
		
		<select id="infoLectureNameList" name="infoLectureNameList">
			<option value="">--강의표준명--</option>
		</select>
		
		<button id="searchSubject" type="button" class="btn btn-primary">조회</button><br><br>
		
		<!-- 과목리스트 출력을 위한 table 태그 -->
		<table id="subjectList" class="table table-striped">
		</table>
</div>
</html>