<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
<mapper namespace="kr.or.ksmart.lms.pi.mapper.PILectureMapper"> 
	<!-- PILectureMapper InfoLecture resultMap  -->
	<resultMap id="infoLectureResultMap"
				type="kr.or.ksmart.lms.pi.vo.InfoLecture">
		<result column="info_lecture_code" property="infoLectureCode"/>
		<result column="info_lecture_sort" property="infoLectureSort"/>
		<result column="info_lecture_name" property="infoLectureName"/>
		<result column="info_lecture_insert_date" property="infoLectureInsertDate"/>
	</resultMap>
	<!-- PILectureMapper InfoSubject resultMap  -->
	<resultMap id="InfoSubjectMap"
				type="kr.or.ksmart.lms.pi.vo.InfoSubject">
		<result column="info_subject_code" property="infoSubjectCode"/>
		<result column="info_lecture_code" property="infoLectureCode"/>
		<result column="info_subject_name" property="infoSubjectName"/>
		<result column="info_subject_difficulty" property="infoSubjectDifficulty"/>
		<result column="info_subject_modification_history" property="infoSubjectModificationHistory"/>
	</resultMap>
	<!-- PILectureMapper Institution resultMap  -->
	<resultMap id="InstitutionResultMap"
				type="kr.or.ksmart.lms.pi.vo.Institution">
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
		<result column="institution_phone" property="InstitutionPhone"/>
		<result column="institution_postcode" property="InstitutionPostcode"/>
		<result column="institution_address" property="InstitutionAddress"/>
		<result column="institution_address_desc" property="InstitutionAddressDesc"/>
		<result column="institution_location" property="InstitutionLocation"/>
		<result column="institution_registration_date" property="InstitutionRegistrationDate"/>
	</resultMap>
	<!-- PILectureMapper NoticeLecture resultMap  -->
	<resultMap id="NoticeLectureResultMap"
				type="kr.or.ksmart.lms.pi.vo.NoticeLecture">
		<result column="notice_lecture_code" property="noticeLectureCode"/>
		<result column="info_lecture_code" property="infoLectureCode"/>
		<result column="member_teacher_code" property="memberTeacherCode"/>
		<result column="member_teacher_name" property="memberTeacherName"/>
		<result column="classroom_code" property="classroomCode"/>
		<result column="notice_lecture_title" property="noticeLectureTitle"/>
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
		<result column="classroom_maximum_no" property="classroomMaximumNo"/>
		<result column="notice_lecture_minimum_no" property="noticeLectureMinimumNo"/>
		<result column="notice_lecture_current_applicant_no" property="noticeLectureCurrentApplicantNo"/>
		<result column="notice_lecture_recruitment_start_date" property="noticeLectureRecruitmentStartDate"/>
		<result column="notice_lecture_recruitment_end_date" property="noticeLectureRecruitmentEndDate"/>
		<result column="notice_lecture_result_date" property="noticeLectureResultDate"/>
		<result column="notice_lecture_fee" property="noticeLectureFee"/>	
		<result column="notice_lecture_start_date" property="noticeLectureStartDate"/>
		<result column="notice_lecture_end_date" property="noticeLectureEndDate"/>
		<result column="notice_lecture_date" property="noticeLectureDate"/>		
	</resultMap>
	<!-- PILectureMapper LectureSignup resultMap  -->
	<resultMap id="LectureSignupResultMap"
				type="kr.or.ksmart.lms.pi.vo.LectureSignup">
		<result column="lecture_signup_code" property="lectureSignupCode"/>
		<result column="notice_lecture_code" property="noticeLectureCode"/>
		<result column="notice_lecture_start_date" property="noticeLectureStartDate"/>
		<result column="notice_lecture_end_date" property="noticeLectureEndDate"/>
		<result column="institution_code" property="institutionCode"/>
		<result column="institution_name" property="institutionName"/>
		<result column="member_code" property="memberCode"/>
		<result column="member_name" property="memberName"/>
		<result column="member_registration_number_front" property="memberRegistrationNumberFront"/>
		<result column="lecture_signup_date" property="lectureSignupDate"/>
	</resultMap>
	<!-- 교육원명 출력을 위한 메서드 -->
	<select id="piSelectInstitution"
			parameterType="String"
			resultMap="InstitutionResultMap">
		SELECT
			institution_code
			, institution_name
		FROM 
			institution
		WHERE
			institution_code = #{institutionCode}
	</select>
	
	<!-- LectureCode을 입력받아 infoSubject 과목리스트 출력 / 비동기방식 -->
	<select id="piSelectSubjectListByLectureCode"
			parameterType="String"
			resultMap="InfoSubjectMap">
		SELECT
			info_subject_code
			, info_lecture_code
			, info_subject_name
			, info_subject_difficulty
		FROM 
			info_subject
		WHERE 
			info_lecture_code = #{lectureCode}
	</select>

	<!-- Lecture 강의표준명 리스트 출력 / 비동기방식 -->
	<select id="piSelectInfoLectureNameList" 
			parameterType="String"
			resultMap="infoLectureResultMap">
		SELECT
			info_lecture_code
			,info_lecture_name
		FROM 
			info_lecture
		WHERE 
			info_lecture_sort = #{lectureSort}
	</select>	 
		
	<!-- Lecture 강의분류 리스트 출력 -->
	<select id="piSelectInfoLectureSortList" 
			resultMap="infoLectureResultMap">
		SELECT distinct
			info_lecture_sort
		FROM 
			info_lecture
	</select>	
	
	<!-- 강의공고 목록 출력 -->
	<select id="piSelectNoticeLectureList"
			parameterType="String"
			resultMap="NoticeLectureResultMap">
		SELECT 
			notice_lecture_code
			,info_lecture_code
			,member_teacher_code
			,member_teacher_name
			,classroom_code
			,notice_lecture_title
			,institution_code
			,institution_name
			,classroom_maximum_no
			,notice_lecture_minimum_no
			,notice_lecture_current_applicant_no
			,left(notice_lecture_recruitment_start_date, 10) AS notice_lecture_recruitment_start_date
			,left(notice_lecture_recruitment_end_date, 10) AS notice_lecture_recruitment_end_date
			,left(notice_lecture_result_date, 10) AS notice_lecture_result_date
			,notice_lecture_fee
			,left(notice_lecture_start_date, 10) AS notice_lecture_start_date
			,left(notice_lecture_end_date, 10) AS notice_lecture_end_date
		FROM 
			notice_lecture
		WHERE 
			institution_code = #{institutionCode}
	</select>	
	<!-- 세부 강의공고 조회 -->
	<select id="piSelectNoticeLectureByNoticeLectureCode"
			parameterType="String"
			resultMap="NoticeLectureResultMap">
		SELECT 
			notice_lecture_code
			,info_lecture_code
			,member_teacher_code
			,member_teacher_name
			,classroom_code
			,notice_lecture_title
			,institution_code
			,institution_name
			,classroom_maximum_no
			,notice_lecture_minimum_no
			,notice_lecture_current_applicant_no
			,left(notice_lecture_recruitment_start_date, 10) AS notice_lecture_recruitment_start_date
			,left(notice_lecture_recruitment_end_date, 10) AS notice_lecture_recruitment_end_date
			,left(notice_lecture_result_date, 10) AS notice_lecture_result_date
			,notice_lecture_fee
			,left(notice_lecture_start_date, 10) AS notice_lecture_start_date
			,left(notice_lecture_end_date, 10) AS notice_lecture_end_date
		FROM 
			notice_lecture
		WHERE 
			notice_lecture_code = #{noticeLectureCode}
	</select>
	
	<!-- lectureSignup 등록 메서드 -->
	<insert id="piInsertLectureSignup"
			parameterType="kr.or.ksmart.lms.pi.vo.LectureSignup">
		INSERT INTO lecture_signup (
			lecture_signup_code
			,notice_lecture_code
			,notice_lecture_start_date
			,notice_lecture_end_date
			,institution_code
			,institution_name
			,member_code
			,member_name
			,member_registration_number_front
			,lecture_signup_date
		) VALUES (
			#{lectureSignupCode}
			,#{noticeLectureCode}
			,#{noticeLectureStartDate}
			,#{noticeLectureEndDate}
			,#{institutionCode}
			,#{institutionName}
			,#{memberCode}
			,#{memberName}
			,(SELECT 
					member_registration_number_front
				FROM 
					member
				WHERE
					member_code = #{memberCode}
			)	
			,now()
		)
	</insert>
</mapper>