<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/associationLayout">
<meta charset="utf-8">
<!-- html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
	<h3>협회 : 연간 자격 시험 일정 관리</h3>
	<ul>
		<li><a href="/association/notice/addNoticeAnnualLicenseTest">연간 자격 시험 일정 등록</a></li>
		<li><a href="/association/notice/noticeAnnualLicenseTestList">연간 자격 시험 일정 조회</a></li>
		<li>#<a href="">연간 자격 시험 일정 삭제</a></li>
		<li>#<a href="">연간 자격 시험 일정 삭제</a></li>
		
	</ul>
	<h3>협회 : 자격 시험 공고 관리</h3>
	<ul>
		<li><a href="">자격 시험 공고 등록</a></li>
		<li><a href="/association/notice/noticeLicenseTestLocationList">자격 시험 공고 조회</a></li>
		<li>#<a href="">자격 시험 공고 삭제</a></li>
		<li>#<a href="">자격 시험 공고 삭제</a></li>
		
	</ul>
	
	<h3>협회 : 자격시험 장소 관리</h3>
	<ul>
		<li><a href="/association/license/addLicenseTestLocation">자격시험 장소 등록</a></li>
		<li><a href="/association/license/LicenseTestLocationList">자격시험 장소 조회</a></li>
		<li>#<a href="">자격시험 장소 수정</a></li>
		<li>#<a href="">자격시험 장소 삭제</a></li>
		
	</ul>

	<h3>협회 : 자격증 관리</h3>
	<ul>
		<li><a href="/association/license/addInfoQualification">자격증 등록</a></li>
		<li><a href="/PI/infoQualificationList">자격증 조회</a></li>
		<li>#<a href="">자격증 수정</a></li>
		<li>#<a href="">자격증 삭제</a></li>

	</ul>
	

	<h1>협회 : 교육원관리</h1>
	<h3>교육원 관리</h3>
	<ul>
		<li><a href="/association/institution/addInstitution">교육원 등록</a></li>
		<li><a href="/association/institution/institutionList">교육원 조회 및 관리</a></li>
	</ul>
	
	<h1>협회 : 강의관리</h1>
	<h3>강의 관리</h3>
	<ul>
		<li><a href="/association/lecture/addInfoLecture">강의표준 등록</a></li>
		<li><a href="/association/lecture/infoLectureList">강의표준 조회 및 관리</a></li>
		<li><a href="/association/lecture/addInfoSubject">과목 등록</a></li>
		<li><a href="/association/lecture/subjectList">과목 조회 및 관리</a></li>
	</ul>
	
	<h1>협회 : 강의실관리</h1>
	<h3>강의실 관리</h3>
	<ul>
		<li><a href="/association/classroom/searchInstitution">강의실 등록</a></li>
		<li><a href="/association/classroom/classroomList">강의실 조회 및 관리</a></li>
	</ul>
	
</div>
</html>