<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/root">
<meta charset="utf-8">
<!-- html 고유 CSS 추가 -->
<th:block layout:fragment="css">
    <style>
		div {
		    text-align: center;
		}
	</style>
</th:block>

<!-- html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
	<div>
		<p style="height: 100px"></p>
		<h4>협회 로그인</h4>
		<form action="/associationLogin" method="post">
			<pre>id	<input type="text" value="id001" name="memberOnlineId"><br>pw	<input type="password" value="pw001" name="memberOnlinePw"><br></pre>
			<input type="submit" value="로그인">
		</form>
		<p style="height: 300px"></p>
	</div>
</div>
</html>