<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/associationLayout">
<meta charset="utf-8">
<!-- html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
<script>
	$(document).ready(function() {
		//유효성 검사을 위한 변수 선언
		let refundPolicyNameCheck = true;
		let refundPolicyDescriptionCheck = true;
		
		//refundPolicyName 입력 유효성 검사
 		$('#refundPolicyName').blur(function() {
			if($('#refundPolicyName').val() == "") {
				console.log('refundPolicyName 공백입력')
				refundPolicyNameCheck = true;
			} else {
                console.log('refundPolicyName 유효성 검사 완료')
				refundPolicyNameCheck = false;
			}
			
 		});
		
 		//refundPolicyDescription 입력 유효성 검사
 		$('#refundPolicyDescription').blur(function() {
			if($('#refundPolicyDescription').val() == "") {
				console.log('refundPolicyDescription 공백입력')
				refundPolicyDescriptionCheck = true;
			} else {
                console.log('refundPolicyDescription 유효성 검사 완료')
				refundPolicyDescriptionCheck = false;
			}
 		});
 		
 		//btnAdd 클릭 이벤트 처리
		$('#btnAdd').on('click',function() {
			if(refundPolicyNameCheck) {
				$('h4').addClass('red');
				$('h4').text('연회비 환불정책 명이 공백 상태 입니다.');
			} else if(refundPolicyDescriptionCheck) {
				$('h4').addClass('red');
				$('h4').text('연회비 환불정책 상세내용이 공백 상태 입니다.');
			} else {
				$('#addPolicy').submit()
			}
		});
	});
</script>
</th:block>

<div layout:fragment="content">
	<h3>연회비 환불정책 추가</h3>
	<form id="addPolicy" action="/addRefundPolicy" method="post">
		<div class="form-group">
			<label>연회비 환불정책 명:</label>
			<input type="text" class="form-control" id="refundPolicyName" name="refundPolicyName">
		</div>
		<div class="form-group">
			<label>연회비 환불정책 상세내용:</label>
			<input type="text" class="form-control" id="refundPolicyDescription" name="refundPolicyDescription">
		</div>
		<input type="hidden" id="refundPolicyPercentage" name="refundPolicyPercentage" value="0">
		<input type="hidden" id="refundPolicyType" name="refundPolicyType" value="연회비 환불">
		<button type="button" id="btnAdd" class="btn btn-primary">연회비 환불정책 추가</button>
		<h4></h4>
	</form>
</div>
</html>