<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" 
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout/institutionLayout">
<meta charset="utf-8">
<title>강사승인코드 전송</title>
<!-- html 고유 CSS 추가 -->
<th:block layout:fragment="css">
</th:block>

<!-- html 고유 스크립트 추가 -->
<th:block layout:fragment="script">
</th:block>

<div layout:fragment="content">
	<div class="row">
		<div class="col-md-6">
			<form action="/sendEmailToAdmin" method="post">
				<fieldset>
   	 				<div class="form-group">
 	   					<legend>직원 승인코드 발송</legend>
    				</div>
    				<div class="form-group">
    					<div class="col-sm-7">
							<label for="InputId">E-mail</label>
    					<div class="row">
    						<div class="col-sm-8">
								<input type="text" class="form-control" name="emailAddress">
								<small class="form-text text-muted"></small>
							</div>
							<div class="col-sm-4">
								<button type="submit" class="btn btn-primary">전송하기</button>
							</div>
						</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
		<div class="col-md-6">
			<form action="/sendEmailToTeacher" method="post">
				<fieldset>
    				<div class="form-group">
    					<legend>강사 승인코드 발송</legend>
    				</div>
    				<div class="form-group">
    					<div class="col-sm-7">
							<label for="InputId">E-mail</label>
    						<div class="row">
    							<div class="col-sm-8">
									<input type="text" class="form-control" name="emailAddress">
									<small class="form-text text-muted"></small>
								</div>
								<div class="col-sm-4">
									<button type="submit" class="btn btn-primary">전송하기</button>
								</div>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
</div>
</html>